// Extracted from tailwindcss

.w-0, .col-w-0 {
  width: 0;
}
.w-1, .col-w-1 {
  width: 0.25rem;
}
.w-2, .col-w-2 {
  width: 0.5rem;
}
.w-3, .col-w-3 {
  width: 0.75rem;
}
.w-4, .col-w-4 {
  width: 1rem;
}
.w-5, .col-w-5 {
  width: 1.25rem;
}
.w-6, .col-w-6 {
  width: 1.5rem;
}
.w-8, .col-w-8 {
  width: 2rem;
}
.w-10, .col-w-10 {
  width: 2.5rem;
}
.w-12, .col-w-12 {
  width: 3rem;
}
.w-16, .col-w-16 {
  width: 4rem;
}
.w-20, .col-w-20 {
  width: 5rem;
}
.w-24, .col-w-24 {
  width: 6rem;
}
.w-28, .col-w-28 {
  width: 7rem;
}
.w-32, .col-w-32 {
  width: 8rem;
}
.w-40, .col-w-40 {
  width: 10rem;
}
.w-48, .col-w-48 {
  width: 12rem;
}
.w-56, .col-w-56 {
  width: 14rem;
}
.w-64, .col-w-64 {
  width: 16rem;
}
.w-px, .col-w-px {
  width: 1px;
}
.w-auto {
  width: auto;
}
.col-w-0 {
  min-width: 0;
}
.col-w-1 {
  min-width: 0.25rem;
}
.col-w-2 {
  min-width: 0.5rem;
}
.col-w-3 {
  min-width: 0.75rem;
}
.col-w-4 {
  min-width: 1rem;
}
.col-w-5 {
  min-width: 1.25rem;
}
.col-w-6 {
  min-width: 1.5rem;
}
.col-w-8 {
  min-width: 2rem;
}
.col-w-10 {
  min-width: 2.5rem;
}
.col-w-12 {
  min-width: 3rem;
}
.col-w-16 {
  min-width: 4rem;
}
.col-w-20 {
  min-width: 5rem;
}
.col-w-24 {
  min-width: 6rem;
}
.col-w-28 {
  min-width: 7rem;
}
.col-w-32 {
  min-width: 8rem;
}
.col-w-40 {
  min-width: 10rem;
}
.col-w-48 {
  min-width: 12rem;
}
.col-w-56 {
  min-width: 14rem;
}
.col-w-64 {
  min-width: 16rem;
}
.col-nowrap {
  //width: 1px;
  white-space: nowrap;
}
.max-w-px {
  max-width: 1px;
}