<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="<%= BASE_URL %>images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="<%= BASE_URL %>images/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="<%= BASE_URL %>images/favicon-180x180.png" />
    <meta name="msapplication-TileImage" content="<%= BASE_URL %>images/favicon-270x270.png" />

    <title>Hostoo</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,500,600,700,800|Nunito:400,700,800&display=swap" rel="stylesheet">

    <% if (NODE_ENV === 'production') { %>
    <script>
        window.dataLayer = window.dataLayer || [];
        window.GTM_CONTAINER_ID = 'GTM-PKCKKXP';
        window.GA4_MEASUREMENT_ID = 'G-ZZCDY1DPYZ';
        //window.GA_TRACKING_ID = 'UA-124503250-1';
        window.AW_CONVERSION_ID = 'AW-798302531';
    </script>

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer',GTM_CONTAINER_ID);
    </script>

    <!-- Global site tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-798302531"></script>
    <script>
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      //gtag('config', GA_TRACKING_ID, { app_name: 'Hostoo App', send_page_view: false });
      gtag('config', GA4_MEASUREMENT_ID);
      gtag('config', AW_CONVERSION_ID);
    </script>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
              n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
              'https://connect.hostoo.io/fbevents.js');
      fbq('init', '1863119767148279');
      fbq('track', 'PageView');
    </script>
    <!--<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1863119767148279&ev=PageView&noscript=1"/></noscript>-->

    <!-- Microsoft Advertising -->
    <script>
      (function(w,d,t,r,u)
      {
        var f,n,i;
        w[u]=w[u]||[],f=function()
        {
          var o={ti:"187022906"};
          o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")
        },
        n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function()
        {
          var s=this.readyState;
          s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)
        },
        i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)
      })
      (window,document,"script","//bat.bing.com/bat.js","uetq");
    </script>
    <% } %>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but this application doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <% if (NODE_ENV === 'production') { %>
    <!-- JIVOSITE CODE -->
    <script type='text/javascript'>
      (function(){
        var widget_id = 'vW2R4JsF65';var d=document;var w=window;
        function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
          s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0];
          ss.parentNode.insertBefore(s, ss);} if(d.readyState=='complete'){l();}
        else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}
      })();
    </script>
    <link href="<%= BASE_URL %>jivosite/jivosite.css" rel="stylesheet" />
    <script src='<%= BASE_URL %>jivosite/jivosite.js' type="text/javascript"></script>

    <!-- Hotjar Tracking Code -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1708157,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <% } %>
  </body>
</html>
