<template>
    <app-basic-template class="h-p-ticket-list">
        <card-title title="Tickets de Suporte">
            <vuetable
                :fields="tableTickets.fields"
                :api-mode="false"
                :data="tickets"
                table-height="calc(5 * 3rem + 5px)"
                no-data-template="Nenhum ticket encontrado"
            >
                <template slot="updated" slot-scope="props">
                    <span :title="$moment(props.rowData.updatedAt).format('DD/MM/YYYY HH:mm:ss')">
                        {{ props.rowData.updatedAt | moment("from", new Date()) }}
                    </span>
                </template>
            </vuetable>

            <div class="text-right mt-6">
                <router-link to="/support/ticket/add" class="btn btn-success">Abrir novo ticket</router-link>
            </div>
        </card-title>

        <quick-access />
    </app-basic-template>
</template>

<script>
    import Vuetable         from "vuetable-2/src/components/Vuetable"
    import CardTitle    from "../molecules/CardTitle"
    import QuickAccess      from "../organisms/QuickAccess"
    import AppBasicTemplate from "../templates/AppBasicTemplate"

    export default {
        components: {
            Vuetable,
            CardTitle,
            QuickAccess,
            AppBasicTemplate
        },
        data() {
            return {
                tableTickets: {
                    fields: [
                        {
                            name: "id",
                            title: "ID",
                            titleClass: "col-w-32",
                            dataClass: "col-w-32",
                        },
                        {
                            name: "subject",
                            title: "Assunto",
                            titleClass: "col-subject",
                            dataClass: "col-subject text-truncate",
                        },
                        {
                            name: "status",
                            title: "Status",
                            titleClass: "col-w-40",
                            dataClass: "col-w-40 text-truncate",
                        },
                        {
                            name: "__slot:updated",
                            title: "Atualizado em",
                            titleClass: "col-w-40 text-nowrap",
                            dataClass: "col-w-40 text-truncate",
                        },
                    ]
                },
                tickets: [
                    {
                        id: "321654",
                        subject: "Testando Testando Testando Testando Testando Testando Testando Testando 123",
                        status: "Aberto",
                        updatedAt: "2019-12-17 04:05:00",
                    },
                    {
                        id: "321654",
                        subject: "Testando 123",
                        status: "Aberto",
                        updatedAt: "2019-12-17 04:05:00",
                    },
                    {
                        id: "321654",
                        subject: "Testando 123",
                        status: "Aberto",
                        updatedAt: "2019-12-17 04:05:00",
                    },
                    {
                        id: "321654",
                        subject: "Testando 123",
                        status: "Aberto",
                        updatedAt: "2019-12-17 04:05:00",
                    },
                    {
                        id: "321654",
                        subject: "Testando 123",
                        status: "Aberto",
                        updatedAt: "2019-12-17 04:05:00",
                    },
                    {
                        id: "321654",
                        subject: "Testando 123",
                        status: "Aberto",
                        updatedAt: "2019-12-17 04:05:00",
                    }
                ],
            }
        },
    }
</script>

<style lang="stylus">
    .h-p-ticket-list
        .table
            .col-subject
                @media (max-width 575px)
                    width 10rem
                    min-width 10rem
</style>