<template>
    <payment-template v-bind:class="{ 'promotion': usePromotionTemplate }">
        <card-recharge
            :order="order"
            :amount="amount"
            :monthly-cost="monthlyCost"
            :show-months="canShowMonths"
            :emergency-credit="isEmergencyCredit"
            v-on:recharged="isRechargeCompleted = true"
        />
    </payment-template>
</template>

<script>
    import {mapActions, mapGetters, mapState} from 'vuex'
    import AjaxService     from '@/services/AjaxService'
    import CardRecharge    from '@/components/organisms/CardRecharge'
    import PaymentTemplate from '@/components/templates/PaymentTemplate'

    export default {
        components: {
            CardRecharge,
            PaymentTemplate
        },
        data() {
            return {
                order: null,
                amount: null,
                monthlyCost: 0,
                activeServices: 0,
                isEmergencyCredit: false,
                isRechargeCompleted: false,
            }
        },
        computed: {
            ...mapState("user", [
                "promotion"
            ]),
            ...mapGetters("user", [
                "isActivePromotion",
                "isTesterPromotion"
            ]),

            usePromotionTemplate: function() {
                return (
                    this.isActivePromotion &&
                    (
                        !this.promotion.hasOwnProperty('available') ||
                        this.promotion.available
                    )
                );
            },
            canShowMonths: function() {
                return this.monthlyCost > 0 && this.activeServices >= 1;
            }
        },
        beforeRouteLeave(to, from, next)
        {
            if ((this.order || from.query.order) && !this.isRechargeCompleted) {
                if (!confirm('A recarga não foi concluída. Se deixar esta página agora, o pedido poderá ser cancelado. Tem certeza que deseja continuar?')) return;
            }

            AjaxService.cancel();
            next();
        },
        mounted()
        {
            // Unload event
            window.addEventListener('unload', this.unloadEvent);

            // Tag de conversão do Facebook
            if (typeof window.fbq !== "undefined") {
                fbq('track', 'InitiateCheckout');
            }

            // Tag de conversão do Google Ads
            if (typeof window.gtag !== 'undefined') {
                gtag('event', 'conversion', {'send_to': 'AW-798302531/Gf8WCLnakcQBEMPC1PwC'});
            }

            // Check for order
            if (this.$route.query.order)
            {
                const order = parseInt(String(this.$route.query.order));

                // noinspection EqualityComparisonWithCoercionJS
                if (order.toString() != this.$route.query.order) return;

                this.showLoading();

                this.$api.get("/recharge/order/" + order)
                    .then(response => {
                        this.order  = response.data.data.id;
                        this.amount = response.data.data.amount;
                    })
                    .catch(error => this.showErrorAlert(error))
                    .then (() => this.hideLoading());
            }
            else
            {
                this.fetchMonthlyCost();
                this.getEmergencyCreditInfo();

                // Get amount from query
                if (this.$route.query.amount) {
                    this.amount = parseFloat(String(this.$route.query.amount));
                }
            }
        },
        beforeDestroy()
        {
            window.removeEventListener('unload', this.unloadEvent);
        },
        methods: {
            ...mapActions({
                showLoading: 'loading/show',
                hideLoading: 'loading/hide',
                showErrorAlert: 'alert/error',
                fetchPromotion: 'user/fetchPromotion'
            }),

            /**
             * Obter valor de consumo mensal da conta.
             */
            fetchMonthlyCost()
            {
                this.$api.get('/recharge/monthly-cost', { cancelToken: AjaxService.getCancelToken() })
                    .then (response => {
                        this.monthlyCost = response.data.data.cost;
                        this.activeServices = response.data.data.activeServices;
                    })
                    .catch(error => {});
            },

            /**
             * Obter informações sobre crédito emergencial do usuário.
             */
            getEmergencyCreditInfo()
            {
                this.$api.get('/recharge/emergency?check_invoices=0', { cancelToken: AjaxService.getCancelToken() })
                    .then (response => this.isEmergencyCredit = response.data.data.isAllowed)
                    .catch(error => {});
            },

            /**
             * Prevent from leaving page.
             * @param {Event} evt
             */
            unloadEvent(evt)
            {
                if ((this.order || this.from.query.order) && !this.isRechargeCompleted) {
                    if (!confirm('A recarga não foi concluída. Se deixar esta página agora, o pedido poderá ser cancelado. Tem certeza que deseja continuar?')) {
                        evt.preventDefault();
                        evt.returnValue = false;
                    }
                }
            }
        }
    }
</script>
