<template>
    <payment-template>
        <!-- TODO: Limitar altura da tabela -->
        <card-table
            ref="cardRecharges"
            inner-title="Histórico de Recargas"
            hide-add
            hide-dropdown
            :table-fields="tableRechargesFields"
            api-url="/recharge"
        >
            <template slot="table-date" slot-scope="{ rowData }">
                {{ rowData.date | moment("DD/MM/YYYY") }}
            </template>

            <template slot="table-amount" slot-scope="{ rowData }">
                {{ 'R$ ' + rowData.amount.toFixed(2).replace('.', ',') }}
            </template>
        </card-table>
    </payment-template>
</template>

<script>
    import PaymentTemplate from "../../components/templates/PaymentTemplate"
    import CardTable from "../../components/organisms/CardTable"

    export default {
        components: {
            CardTable,
            PaymentTemplate
        },
        data() {
            return {
                tableRechargesFields: [
                    {
                        name: '__slot:date',
                        sortField: 'date',
                        title: 'Data',
                        titleClass: 'col-w-32',
                        dataClass: 'col-w-32',
                    },
                    {
                        name: 'paymentMethod',
                        sortField: 'paymentMethod',
                        filterable: true,
                        title: 'Forma de pagamento',
                        titleClass: 'col-nowrap',
                    },
                    {
                        name: '__slot:amount',
                        sortField: 'amount',
                        sortFunction: 'number',
                        filterable: true,
                        title: 'Valor',
                        titleClass: 'col-w-40',
                        dataClass: 'col-w-40',
                    },
                    {
                        name: 'status',
                        sortField: 'status',
                        filterable: true,
                        title: 'Status',
                        titleClass: 'col-w-40',
                        dataClass: 'col-w-40',
                    }
                ],
                recharges: [
                    {'date':'2019-09-10','method':'PagSeguro','amount':20,'status':'Cancelado'},
                    {'date':'2019-07-12','method':'PagSeguro','amount':20,'status':'Cancelado'},
                    {'date':'2019-06-17','method':'Boleto','amount':20,'status':'Pendente'},
                    {'date':'2019-05-27','method':'Boleto','amount':20,'status':'Cancelado'}
                ],
            }
        },
        beforeRouteLeave(to, from, next)
        {
            this.$refs.cardRecharges.cancelFetch();
            next();
        },
        methods:
        {
            _formatDate(val)
            {

            }
        }
    }
</script>

<style scoped>

</style>