<template>
    <tabs-pages :tabs="tabs">
        <slot></slot>
    </tabs-pages>
</template>

<script>
    import TabsPages from '@/components/organisms/TabsPages';

    export default {
        props: ['resource'],
        components: {
            TabsPages
        },
        data() {
            return {
                tabs: [
                    {
                        title: 'Gerenciador',
                        link: `/hosting/${this.resource}/files`,
                    },
                    {
                        title: 'FTP',
                        link: `/hosting/${this.resource}/ftp`,
                    },
                    {
                        title: 'Deploy',
                        link: `/hosting/${this.resource}/deploy`,
                    },
                    {
                        title: 'Backup',
                        link: `/hosting/${this.resource}/backup`,
                    }
                ]
            }
        }
    }
</script>