// src/stylus/app.styl

body.has-scroll
  overflow-y scroll

  &.modal-open
    padding-right 0 !important

.h-layout-full-height
  min-height 100vh
  height 100%

//.h-auth-login
//  background-image url('../../public/images/auth/bg-01.jpg')
//  background-size cover
//  background-repeat none

.btn-loading
  &:after
    content ""
    width 1.375rem
    height 1.25rem
    display inline-block
    vertical-align middle
    margin-left .25rem
    background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22px' height='22px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Ccircle cx='84' cy='50' r='3.04284' fill='%23ffffff'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='0.625s' calcMode='spline' keyTimes='0;1' values='10;0' keySplines='0 0.5 0.5 1' begin='0s'%3E%3C/animate%3E%3Canimate attributeName='fill' repeatCount='indefinite' dur='2.5s' calcMode='discrete' keyTimes='0;0.25;0.5;0.75;1' values='%23ffffff;%23ffffff;%23ffffff;%23ffffff;%23ffffff' begin='0s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='39.6543' cy='50' r='10' fill='%23ffffff'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='0;0;10;10;10' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='0s'%3E%3C/animate%3E%3Canimate attributeName='cx' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='16;16;16;50;84' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='0s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='73.6543' cy='50' r='10' fill='%23ffffff'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='0;0;10;10;10' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-0.625s'%3E%3C/animate%3E%3Canimate attributeName='cx' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='16;16;16;50;84' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-0.625s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='16' cy='50' r='0' fill='%23ffffff'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='0;0;10;10;10' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-1.25s'%3E%3C/animate%3E%3Canimate attributeName='cx' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='16;16;16;50;84' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-1.25s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='16' cy='50' r='6.95716' fill='%23ffffff'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='0;0;10;10;10' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-1.875s'%3E%3C/animate%3E%3Canimate attributeName='cx' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='16;16;16;50;84' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-1.875s'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E")

  &.btn-link:after
    background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22px' height='22px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Ccircle cx='84' cy='50' r='3.04284' fill='%23adb5bd'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='0.625s' calcMode='spline' keyTimes='0;1' values='10;0' keySplines='0 0.5 0.5 1' begin='0s'%3E%3C/animate%3E%3Canimate attributeName='fill' repeatCount='indefinite' dur='2.5s' calcMode='discrete' keyTimes='0;0.25;0.5;0.75;1' values='%23adb5bd;%23adb5bd;%23adb5bd;%23adb5bd;%23adb5bd' begin='0s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='39.6543' cy='50' r='10' fill='%23adb5bd'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='0;0;10;10;10' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='0s'%3E%3C/animate%3E%3Canimate attributeName='cx' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='16;16;16;50;84' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='0s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='73.6543' cy='50' r='10' fill='%23adb5bd'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='0;0;10;10;10' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-0.625s'%3E%3C/animate%3E%3Canimate attributeName='cx' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='16;16;16;50;84' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-0.625s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='16' cy='50' r='0' fill='%23adb5bd'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='0;0;10;10;10' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-1.25s'%3E%3C/animate%3E%3Canimate attributeName='cx' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='16;16;16;50;84' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-1.25s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='16' cy='50' r='6.95716' fill='%23adb5bd'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='0;0;10;10;10' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-1.875s'%3E%3C/animate%3E%3Canimate attributeName='cx' repeatCount='indefinite' dur='2.5s' calcMode='spline' keyTimes='0;0.25;0.5;0.75;1' values='16;16;16;50;84' keySplines='0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1' begin='-1.875s'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E")

.btn-action
  min-width 6.5rem

.btn-circle
  padding-left 0
  padding-right 0
  width calc(2rem + 2px)
  border-radius 50%

  > i
    display block
    line-height inherit

.btn-file > label
  cursor pointer

.btn-toolbar
  .btn-group
    > .btn
      padding-top .375rem
      padding-bottom .375rem

    > a.btn
      display inline-flex
      align-items center

.table
  &.vuetable-fixed-layout
    margin-bottom 0

  &.table-custom-header
    thead th
      padding .5rem .75rem
      border-top 0
      border-bottom 0
      background-color #F4F4F4

      &:first-child
        border-top-left-radius $border-radius-lg
        border-bottom-left-radius $border-radius-lg

      &:last-child
        border-top-right-radius $border-radius-lg
        border-bottom-right-radius $border-radius-lg

    tbody
      td, th
        border-top 0
        border-bottom 1px solid $table-border-color

  td.vuetable-empty-result
    color $gray-500

  tr.table-muted td
    color $gray-500
    background-color $gray-200

  .col-datetime
    white-space nowrap
    min-width 10rem
    width 10rem

  .col-dropdown
    min-width 4rem
    width 4rem

  td.col-dropdown
    padding 0
    text-align center
    vertical-align middle

.table-list
  border 1px solid $table-border-color

  tbody
    th
      font-family "Nunito", sans-serif

    th, td
      border-top 0
      padding .375rem .875rem

    tr:nth-child(odd)
      background-color $gray-100

    tr:nth-child(even)
      background-color white
      /*box-shadow 0 2px 0 -1px $gray-100*/


.custom-control-label
  cursor pointer

.custom-control-input[disabled], .custom-control-input:disabled
  ~ .custom-control-label
    cursor default

.form-text-sm
  margin-bottom .5rem
  font-size .875rem
  color $gray-500

.form-buttons
  margin-top 1.5rem

.dropdown .dropdown-toggle.dropdown-toggle-no-caret:after
  display none !important

.dropdown-menu
  outline 0

.modal-alert
  @media (min-width 768px)
    .modal-dialog
      max-width 620px

  .modal-header
    padding 2rem 2rem 0

  .modal-footer
    padding .75rem 1.75rem 1.75rem

  .modal-body
    padding 1rem 2rem

  .modal-title
    font-family "Nunito", sans-serif
    font-size 1.5rem
    font-weight 700
    color $primary

.modal-survey
  .modal-content
    border 0
    border-radius 1rem 1rem 10rem 1rem
    padding 1.5rem 2.5rem

  + .modal-backdrop
    opacity 1
    animation .5s ease-in-out fadeIn
    animation-fill-mode forwards



.custom-file-image
  input[type=file]
    display none

  .img-thumbnail
    border-color $primary
    background-color $primary
    transition border-color 0.15s ease-in-out, background-color 0.15s ease-in-out

  &:hover .img-thumbnail
    border-color $success
    background-color $success

  label
    margin-bottom 0

    &:hover
      cursor pointer

body.is-tutorial
  overflow-x hidden

  .tutorial-highlighted
    position relative

  .tutorial-popover
    max-width 380px
    z-index 10050
    border 2px solid $primary
    //box-shadow 0 -12px 8px -4px rgba(0,0,0,0.125), 0 4px 8px 8px rgba(0,0,0,0.25)

    &.bs-popover-top
      top -12px !important

      > .arrow:before
        border-top-color $primary

      > .arrow:after
        bottom 3px

    &.bs-popover-bottom
      top 12px !important

      > .arrow:before
        border-bottom-color $primary

      > .arrow:after
        top 3px

    &.tutorial-popover-domain
      top 24px !important

    .popover-body
      padding 1rem
      font-size 1rem
      line-height 1.375
      // text-align center

    .tutorial-header
      margin-bottom .5rem
      color $gray-500

    .tutorial-footer
      margin-top 1rem
      text-align right

      .btn
        padding 0

        + .btn
          margin-left 1em

.tutorial-outer
  .tutorial-backdrop
    position absolute
    top 0
    left 0
    z-index 10000
    //width 100vw
    //height 100vh
    //background-color rgba($primary, 0.7)
    animation .5s ease-in-out fadeIn
    animation-fill-mode forwards

.card-apps-wrapper
  > .row > .col
    min-width 50%
    max-width 50%

    @media (min-width 992px)
      min-width 25%
      max-width 25%
      width 25%

    @media (min-width 1200px)
      min-width 20%
      max-width 20%
      width 20%

  .card-app
    border-radius .5rem
    margin-bottom 1.5rem

    /*&:hover
        background-color rgba($color-primary-light, 0.5)*/

    .card-body
      text-align center

    .card-title
      margin-bottom .25rem
      font-weight 600

    .card-text
      margin-bottom 0

    .app-logo
      margin-bottom 1rem
      max-width 80px
      height auto

    .btn-install
      margin-top 1rem


.h-modal-video
  .modal-content
    padding 0
    border 0
    border-radius 0.5rem
    overflow hidden

  .modal-body
    padding 0

  .modal-footer
    display none

.h-modal-tutorial-video
  .list-group-item-action
    > i
      font-size 1.5rem
      vertical-align top
      margin-right .5rem

    &:hover, &:focus
      > .fa-youtube
        color #FF0000

.btn-group-payment
  .btn
    width 100%
    margin-bottom .25rem
    font-size 1.125rem
    font-weight 400
    text-align left
    border-color $light
    background-color $light
    color $gray-800

    @media (min-width 576px)
      width 140px
      margin-bottom 0
      margin-right 1rem
      padding 1.5rem .5rem
      text-align center

    &:hover
      border-color darken($light, 15%)

    &.active
      border-color $primary

    .icon
      display none

      @media (min-width 576px)
        display block
        margin 0 auto .5rem
        font-size 2.25rem
        text-align center

    svg
      fill currentColor

.btn-group-payment-method
  .btn
    @media (min-width 576px)
      padding-top 2.5rem

.badge-sm
  display inline-block
  padding 0.375rem .75rem
  margin-bottom .75rem
  border-radius 3px
  font-size 11px
  font-weight 700
  letter-spacing .05em
  text-transform uppercase

@import "effects.styl"
@import "tooltip.styl"


/**
 * BANNERS
 */
.banner-tester {
  &.h-m-banner-promotion {
    background: linear-gradient(90deg, #0E131F 0%, #222222 100%)
    color: #F1CB0F

    > a {
      color inherit
    }
  }
  .h-m-banner-promotion--img {
    margin-left .5rem
  }
  .h-m-banner-promotion--content {
    .btn-warning {
      background: linear-gradient(180deg, #F1CB0F 0%, #FFA630 100%);
      text-transform uppercase
      font-weight 700
    }
  }
  .h-m-banner-clock--border {
    background: linear-gradient(180deg, #F1CB0F 0%, #FFA630 100%);
  }
  .h-m-banner-clock--number {
    color: #F1CB0F
  }
  .h-m-banner-clock--label {
    font-weight 300
    color: #F1CB0F
  }
  .h-m-banner-clock--separator {
    color: #F1CB0F
  }
}

/**
 * ALERTS
 */
.alert-compact {
  &.alert {
    border 0
    border-radius 5px
    font-weight 500
  }
  &.alert-warning {
    background-color #FFF0C1
    color #000000
  }
  &.alert-danger {
    background-color #b92d3a
    color white
    font-weight 400

    .btn-light {
      font-weight 600
    }
  }
  &.alert-info {
    background-color: #13889b;
    color: #f6fbfc;
  }
  .alert-icon {
    display block
    font-size 2.5rem
  }
  .alert-heading {
    padding-top .125rem
    font-size 1.125rem
    font-weight 800
    line-height 1.25
  }
  .btn {
    border-radius 1rem
  }
}
