.bs-tooltip-left,
.bs-tooltip-right,
.bs-tooltip-topleft,
.bs-tooltip-bottomleft,
.bs-tooltip-topright,
.bs-tooltip-bottomright
  .arrow
    display none

.bs-tooltip-left,
.bs-tooltip-topleft,
.bs-tooltip-bottomleft,
  .tooltip-inner
    transform translateX(-6px)

.bs-tooltip-right,
.bs-tooltip-topright,
.bs-tooltip-bottomright
  .tooltip-inner
    transform translateX(6px)

.bs-tooltip-topleft .tooltip-inner
  border-bottom-right-radius 0

.bs-tooltip-left,
.bs-tooltip-bottomleft
  .tooltip-inner
    border-top-right-radius 0

.bs-tooltip-topright .tooltip-inner
  border-bottom-left-radius 0

.bs-tooltip-right,
.bs-tooltip-bottomright
  .tooltip-inner
    border-top-left-radius 0
