<template>
    <admin-page-template quick-access="top" class="h-p-admin-dashboard">

        <banner-selector
            event-label="banner_dashboard"
            banner-class="mb-8"
        />

        <div class="row no-gutters">
            <div class="col-xl-8">
                <card-hostings ref="cardHostings" class="mr-xl-4 mb-0" />
            </div>
            <div class="col-xl-4 mt-4 mt-xl-0">
                <card-tickets ref="cardTickets" class="h-card-tickets ml-xl-4 mb-0" />
            </div>
        </div>
    </admin-page-template>
</template>

<script>
    import { mapState }      from 'vuex'
    import tutorial          from '@/mixins/tutorialCreateHosting'
    import BannerSelector    from '@/components/organisms/BannerSelector'
    import CardHostings      from '@/components/organisms/CardHostings'
    import CardTickets       from '@/components/organisms/CardTickets'
    import AdminPageTemplate from '@/components/templates/AdminPageTemplate'

    export default {
        mixins: [
            tutorial
        ],
        components: {
            BannerSelector,
            CardHostings,
            CardTickets,
            AdminPageTemplate
        },
        computed: {
            ...mapState("user", [
                "user",
            ]),
        },
        beforeRouteLeave(to, from, next)
        {
            this.$refs.cardHostings.cancelFetch();
            this.$refs.cardTickets.cancelFetch();
            next();
        },
        mounted()
        {
            this.$eventBus.$on('ask-group-survey-completed', () => {
                setTimeout(() => this.$_tutorialCreateHosting_show(), 1000)
            });
        }
    }
</script>

<style lang="stylus">
    .h-p-admin-dashboard {
        .h-card-tickets {
            @media (min-width 1200px) {
                height 100%
            }
        }
    }
</style>
