<template>
    <div class="alert alert-primary hta-alert-hosting-inactive">
        A hospedagem <span class="font-weight-bolder">{{ domain }}</span> precisa estar ativa para utilizar esta função.
    </div>
</template>

<script>
    export default {
        props: {
            domain: String,
        }
    }
</script>