<template>
    <admin-page-template>
        <card-table
            ref="cardUsers"
            title="Compartilhamento de Acesso"
            add-text="Adicionar usuário"
            modal-title="Compartilhar acesso"
            hide-edit
            remove-title="Excluir compartilhamento de acesso"
            table-empty-text="Nenhum usuário encontrado"
            :table-fields="tableFields"
            api-url="/user/access"
            @created="editUserPermissions"
            @remove="removeUser"
        >
            <template slot="intro-text">
                Permita que outros usuários da Hostoo possam ter acesso a uma ou mais de suas hospedagens. Com este recurso
                você pode escolher entre fornecer acesso total ou limitado para cada usuário.
            </template>

            <template slot="form-html" slot-scope="{ formData, formErrors }">
                <div class="alert alert-warning">
                    <strong>Atenção:</strong> É necessário que o usuário já possua um cadastro na plataforma Hostoo.
                    Informe o e-mail cadastrado pelo usuário para compartilhar o acesso às suas hospedagens.
                </div>

                <form-group label="E-mail do usuário" label-for="userEmail" :error="formErrors.email">
                    <input type="email" id="userEmail" class="form-control" autocomplete="off" v-model="formData.email">
                </form-group>
            </template>

            <template slot="dropdown-before" slot-scope="{ rowData }">
                <b-dropdown-item :to="`/user/access/${encodeURIComponent(rowData.email)}`">
                    <i class="fas fa-unlock-alt fa-fw"></i> Editar permissões
                </b-dropdown-item>
            </template>

            <template slot="remove-html" slot-scope="{ item }">
                <p class="mb-2">Tem certeza que deseja excluir o compartilhamento de acesso com o usuário abaixo?</p>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <th class="col-w-1 col-nowrap pl-0">E-mail:</th>
                            <td>{{ item.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </template>
        </card-table>
    </admin-page-template>
</template>

<script>
    import { mapActions }    from 'vuex'
    import FormGroup         from '@/components/molecules/FormGroup'
    import CardTable         from '@/components/organisms/CardTable'
    import AdminPageTemplate from '@/components/templates/AdminPageTemplate'

    export default {
        components: {
            CardTable,
            FormGroup,
            AdminPageTemplate
        },
        data() {
            return {
                tableFields: [
                    {
                        name: 'email',
                        sortField: 'email',
                        sortFunction: 'text',
                        filterable: true,
                        title: 'Usuário'
                    }
                ]
            }
        },
        beforeRouteLeave(to, from, next)
        {
            this.$refs.cardUsers.cancelFetch();
            next();
        },
        methods: {
            ...mapActions({
                showErrorAlert: 'alert/error'
            }),

            /**
             * Exibir tela de edição de permissões.
             */
            editUserPermissions(item, responseData)
            {
                this.$router.push('/user/access/' + encodeURIComponent(responseData.email));
            },

            /**
             * Excluir o compartilhamento de acesso com um usuário.
             */
            removeUser(item)
            {
                const email = item.email;

                this.$api.post(`/user/access/${email}/remove`)
                    .then (() => {})
                    .catch(error => this.showErrorAlert(error));
            },
        }
    }
</script>