<template>
    <admin-page-template>
        <card-title title="Programa de Indicações">
            <text-loading v-show="isLoadingReferral" />

            <div v-if="referral" class="row">
                <div class="col-md-6">
                    <table class="table table-hover table-sm mb-5">
                        <tbody>
                            <tr>
                                <th class="col-nowrap border-top-0">Convites restantes:</th>
                                <td class="border-top-0 text-right pr-4">{{ referral.invites }}</td>
                            </tr>
                            <tr>
                                <th class="col-nowrap">Cadastros:</th>
                                <td class="text-right pr-4">{{ referral.customers }}</td>
                            </tr>
                            <tr>
                                <th class="col-nowrap">Recargas:</th>
                                <td class="text-right pr-4">{{ referral.sales }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="text-sm">
                        As indicações são limitadas a <strong>3 convites</strong>. Se desejar novos convites,
                        entre em contato com o nosso suporte para verificar a disponibilidade.
                    </p>

                    <p class="text-sm">
                        O bônus é limitado a R$ 20,00 por indicação. Se o seu indicado realizar uma primeira recarga em
                        valor superior a R$ 20,00, o excedente não contará como parte do bônus.
                    </p>

                    <p class="text-sm mb-0">
                        Os bônus serão adicionados em sua conta <strong>30 dias</strong> após a recarga do seu indicado.
                        Este prazo é necessário para validação das transações pelo nosso sistema.
                    </p>
                </div>

                <div class="col-md-6">
                    <referral-share :link="referral.link" />
                </div>
            </div>
        </card-title>
    </admin-page-template>
</template>

<script>
    import { mapActions, mapState } from 'vuex'
    import TextLoading       from '@/components/atoms/TextLoading'
    import CardTitle         from '@/components/molecules/CardTitle'
    import ReferralShare     from '@/components/organisms/ReferralShare'
    import AdminPageTemplate from '@/components/templates/AdminPageTemplate'

    export default {
        name: "UserReferral",
        components: {
            TextLoading,
            CardTitle,
            ReferralShare,
            AdminPageTemplate
        },
        computed: {
            ...mapState('user', ['referral', 'isLoadingReferral'])
        },
        mounted() {
            this.fetchReferral();
        },
        methods: {
            ...mapActions({
                fetchReferral: 'user/fetchReferral',
            }),
        }
    }
</script>
