<template>
    <admin-page-template>
        <card-table
            ref="cardPermissions"
            title="Permissões de Acesso"
            hide-add
            hide-dropdown
            table-empty-text="Nenhuma hospedagem encontrada"
            :toolbar-actions="cardPermissionsActions"
            :table-fields="tableFields"
            :table-data="hostings"
            :table-loading="isLoadingPermissions"
        >
            <template slot="table-website" slot-scope="{ rowData }">
                <b-form-checkbox-group class="pl-2" stacked v-model="rowData.permissions" @change="changeAccess($event, rowData)">
                    <b-form-checkbox value="website" :disabled="isCheckboxesDisabled">&nbsp;</b-form-checkbox>
                </b-form-checkbox-group>
            </template>

            <template slot="table-domain" slot-scope="{ rowData }">
                <b-form-checkbox-group class="pl-2" stacked v-model="rowData.permissions" @change="changeAccess($event, rowData)">
                    <b-form-checkbox value="domain" :disabled="isCheckboxesDisabled">&nbsp;</b-form-checkbox>
                </b-form-checkbox-group>
            </template>

            <template slot="table-email" slot-scope="{ rowData }">
                <b-form-checkbox-group class="pl-2" stacked v-model="rowData.permissions" @change="changeAccess($event, rowData)">
                    <b-form-checkbox value="email" :disabled="isCheckboxesDisabled">&nbsp;</b-form-checkbox>
                </b-form-checkbox-group>
            </template>

            <template slot="table-total" slot-scope="{ rowData }">
                <b-form-checkbox v-model="rowData.total" @change="toggleTotalAccess($event, rowData)" :disabled="isCheckboxesDisabled">&nbsp;</b-form-checkbox>
            </template>
        </card-table>

        <modal-confirm ref="modalAddAll" title="Compartilhamento total" @confirm="addAll">
            <p class="mb-2">Esta opção vai dar <strong>acesso total</strong> ao usuário em todas as suas hospedagens.</p>
            <p class="mb-0">Tem certeza que deseja compartilhar o acesso a todas as suas hospedagens com este usuário?</p>
        </modal-confirm>

        <modal-confirm ref="modalRemoveAll" title="Compartilhamento total" danger @confirm="removeAll">
            <p class="mb-2">Esta opção vai dar <strong>acesso total</strong> ao usuário em todas as suas hospedagens.</p>
            <p class="mb-0">Tem certeza que deseja compartilhar o acesso a todas as suas hospedagens com este usuário?</p>
        </modal-confirm>

        <modal-confirm ref="modalRemoveAll" title="Remover todos os compartilhamentos" confirm-text="Remover" danger @confirm="removeAll">
            <p class="mb-2">
                Esta opção vai <strong>remover todos os acessos</strong> compartilhados com o usuário. Você ainda poderá
                adicionar novos compartilhamentos novamente.
            </p>
            <p class="mb-0">Tem certeza que deseja remover o compartilhamento de acesso em todas as suas hospedagens com este usuário?</p>
        </modal-confirm>
    </admin-page-template>
</template>

<script>
    import { mapActions }    from 'vuex'
    import AjaxService       from '@/services/AjaxService'
    import ModalConfirm      from '@/components/atoms/ModalConfirm'
    import CardTable         from '@/components/organisms/CardTable'
    import AdminPageTemplate from '@/components/templates/AdminPageTemplate'

    export default {
        props: ['resource'],
        components: {
            ModalConfirm,
            CardTable,
            AdminPageTemplate
        },
        data() {
            return {
                cardPermissionsActions: [
                    {
                        text: "Compartilhar todos",
                        variant: "success",
                        callback: () => this.$refs.modalAddAll.show()
                    },
                    {
                        text: "Remover todos",
                        variant: "danger",
                        callback: () => this.$refs.modalRemoveAll.show()
                    }
                ],
                tableFields: [
                    {
                        name: 'domain',
                        sortField: 'domain',
                        sortFunction: 'text',
                        filterable: true,
                        title: 'Hospedagem'
                    },
                    {
                        name: '__slot:website',
                        title: 'Site',
                        titleClass: 'col-w-28 text-center',
                        dataClass: 'col-w-28 px-4 text-center',
                    },
                    {
                        name: '__slot:domain',
                        title: 'Domínio',
                        titleClass: 'col-w-28 text-center',
                        dataClass: 'col-w-28 px-4 text-center',
                    },
                    {
                        name: '__slot:email',
                        title: 'E-mail',
                        titleClass: 'col-w-28 text-center',
                        dataClass: 'col-w-28 px-4 text-center',
                    },
                    {
                        name: '__slot:total',
                        title: 'Total',
                        titleClass: 'col-w-28 text-center',
                        dataClass: 'col-w-28 pl-6 pr-4 text-center',
                    }
                ],

                user: null,
                hostings: [],
                savePermissionsTimeout: null,
                isLoadingPermissions: false,
                isCheckboxesDisabled: false
            }
        },
        beforeRouteLeave(to, from, next)
        {
            AjaxService.cancel();
            next();
        },
        mounted()
        {
            this.fetchPermissions();
        },
        methods: {
            ...mapActions({
                showErrorAlert: 'alert/error',
                infoNotification: 'notification/info',
                successNotification: 'notification/success',
                closeNotification: 'notification/close',
            }),

            /**
             * Obter permissões de acesso para o usuário.
             */
            fetchPermissions()
            {
                this.isLoadingPermissions = true;
                this._toggleActionButtons(true);

                this.$api.get(`/user/access/${this.resource}`, { cancelToken: AjaxService.getCancelToken() })
                    .then(response => {
                        const user = response.data.data;
                        const hostings = user.hostings;
                        let key, totalAccess;

                        this.hostings = [];

                        for (key in hostings)
                        {
                            totalAccess = (hostings[key].permissions.length === 3);
                            this.hostings.push(Object.assign({ id: key, total: totalAccess }, hostings[key]));
                        }

                        delete user.hostings;
                        this.user = user;
                    })
                    .catch(error => this.showErrorAlert(error))
                    .then (() => {
                        this.isLoadingPermissions = false;
                        this._toggleActionButtons(false);
                    });
            },

            /**
             * Evento lançado ao alterar o estado de um checkbox.
             */
            changeAccess(checked, item)
            {
                const idx = this.hostings.findIndex(el => el.id === item.id);
                const total = (checked && checked.length === 3);

                this.$set(this.hostings[idx], 'total', total);

                this.updatePermissions();
            },

            /**
             * Evento lançado ao alterar o estado do checkbox "Todos".
             */
            toggleTotalAccess(checked, item)
            {
                const idx = this.hostings.findIndex(el => el.id === item.id);
                const permissions = checked ? ['website', 'domain', 'email'] : [];

                this.$set(this.hostings[idx], 'permissions', permissions);
                this.$set(this.hostings[idx], 'total', checked);

                this.updatePermissions();
            },

            /**
             * Atualizar permissões do usuário.
             */
            updatePermissions()
            {
                clearTimeout(this.savePermissionsTimeout);
                this.savePermissionsTimeout = setTimeout(() => this._savePermissions(), 2000);
            },

            _savePermissions()
            {
                const postData = { hostings: this.hostings.slice(0) };
                let alert;

                this.infoNotification({ message: 'Salvando alterações...', timeout: 0 }).then(item => alert = item);

                this.$api.post('/user/access/' + encodeURIComponent(this.resource), postData)
                    .then(response => {
                        this.closeNotification(alert.id);
                        this.successNotification({ message: 'Alterações salvas' });
                    })
                    .catch(error => {
                        this.closeNotification(alert.id);
                        this.showErrorAlert(error);
                    });
            },

            /**
             * Compartilhar acesso total em todas as hospedagens.
             */
            addAll()
            {
                this.isCheckboxesDisabled = true;
                this._toggleActionButtons(true);
                this.$refs.cardPermissions.toolbarButtons[0].loading  = true;

                this.$api.post(`/user/access/${encodeURIComponent(this.resource)}/total`)
                    .then (response => this.fetchPermissions())
                    .catch(error => {
                        this.showErrorAlert(error);
                        this._toggleActionButtons(false);
                    })
                    .then(() => {
                        this.isCheckboxesDisabled = false;
                        this.$refs.cardPermissions.toolbarButtons[0].loading = false;
                    });
            },

            /**
             * Remover o compartilhamento de todas as hospedagens.
             */
            removeAll()
            {
                this.isCheckboxesDisabled = true;
                this._toggleActionButtons(true);
                this.$refs.cardPermissions.toolbarButtons[1].loading  = true;

                this.$api.delete(`/user/access/${encodeURIComponent(this.resource)}/total`)
                    .then (response => this.fetchPermissions())
                    .catch(error => {
                        this.showErrorAlert(error);
                        this._toggleActionButtons(false);
                    })
                    .then(() => {
                        this.isCheckboxesDisabled = false;
                        this.$refs.cardPermissions.toolbarButtons[1].loading = false;
                    });
            },

            /**
             * @private
             * @param {Boolean} status
             */
            _toggleActionButtons(status)
            {
                if (this.$refs.cardPermissions) {
                    this.$refs.cardPermissions.toolbarButtons[0].disabled = status;
                    this.$refs.cardPermissions.toolbarButtons[1].disabled = status;
                }
            }
        }
    }
</script>