<template>
    <admin-page-template class="h-p-user-profile">
        <card-title title="Perfil">
            <!-- TODO: Usar loading com logotipo -->
            <text-loading v-show="isLoadingUser && !userData" />

            <div v-if="userData">
                <form enctype="multipart/form-data" @submit.prevent="saveProfile">
                    <div class="row">
                        <div class="col-lg-auto order-lg-last">
                            <div class="h-user-photo-wrapper">
                                <div class="custom-file-image">
                                    <input ref="userPhoto" type="file" id="userPhoto" accept="image/*" class="custom-file-input" @change="changePhoto">
                                    <label for="userPhoto">
                                        <img v-bind:src="userPhoto" class="img-thumbnail rounded-circle" width="150" height="150">
                                    </label>
                                </div>
                                <button type="button" class="btn btn-danger mt-4" v-show="userData.photo || photoPreview" @click="removePhoto">Remover foto</button>
                            </div>
                        </div>

                        <div class="col order-lg-first mt-8 mt-lg-0">
                            <form-group label="Nome completo" label-for="userName" :error="formErrors.name">
                                <input type="text" id="userName" class="form-control" autocomplete="name" v-model="userData.name">
                            </form-group>

                            <form-group label="E-mail" label-for="userEmail" :error="formErrors.email">
                                <input type="email" id="userEmail" class="form-control" autocomplete="email" readonly disabled :value="userData.email">
                                <p class="form-text-sm mt-1 mb-0 ml-1">
                                    Para alterar o e-mail de acesso à sua conta, entre em contato com nosso suporte.
                                </p>
                            </form-group>

                            <form-group label="Telefone" label-for="userPhone">
                                <the-mask
                                    type="tel"
                                    id="userPhone"
                                    class="form-control"
                                    placeholder="(00) 00000-0000"
                                    autocomplete="tel-national"
                                    readonly
                                    disabled
                                    :value="userData.phone"
                                    :mask="['(##) ####-####', '(##) #####-####']"></the-mask>
                                <p class="form-text-sm mt-1 mb-0 ml-1">
                                    Para alterar o telefone associado à sua conta, entre em contato com nosso suporte.
                                </p>
                            </form-group>

                            <div class="row">
                                <div class="col-md-6">
                                    <form-group label="CPF / CNPJ" label-for="userCpf" :error="formErrors.cpf">
                                        <the-mask
                                            type="tel"
                                            id="userCpf"
                                            class="form-control"
                                            placeholder="000.000.000-00"
                                            autocomplete="off"
                                            v-model="userData.cpf"
                                            :mask="['###.###.###-##', '##.###.###/####-##']"></the-mask>
                                    </form-group>
                                </div>
                                <div class="col-md-6">
                                    <form-group label="Data de nascimento" label-for="userBirthDate" :error="formErrors.birthDate">
                                        <input type="text" id="userBirthDate" class="form-control" placeholder="00/00/0000" autocomplete="bday" v-model="userData.birthDate" v-mask="'##/##/####'">
                                    </form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <form-group label="CEP" label-for="userAddressZip" :error="formErrors.addressZip">
                                        <zip-code id="userAddressZip" v-model="userData.addressZip" @ready="updateAddress" @cancel="updateAddress" />
                                    </form-group>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-8 col-sm-9">
                                            <form-group label="Endereço" label-for="userAddressStreet" :error="formErrors.addressStreet">
                                                <input type="text" id="userAddressStreet" class="form-control" autocomplete="street-address" v-model="userData.addressStreet">
                                            </form-group>
                                        </div>
                                        <div class="col-4 col-sm-3">
                                            <form-group label="Número" label-for="userAddressNumber" class="mb-md-0" :error="formErrors.addressNumber">
                                                <input type="text" id="userAddressNumber" class="form-control" v-model="userData.addressNumber">
                                            </form-group>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-md-4">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form-group label="Bairro" label-for="userAddressNeighborhood" class="mb-md-0" :error="formErrors.addressNeighborhood">
                                                <input type="text" id="userAddressNeighborhood" class="form-control" autocomplete="address-level3" v-model="userData.addressNeighborhood">
                                            </form-group>
                                        </div>
                                        <div class="col-md-6">
                                            <form-group label="Cidade" label-for="userAddressCity" class="mb-md-0" :error="formErrors.addressCity">
                                                <input type="text" id="userAddressCity" class="form-control" autocomplete="address-level2"
                                                    v-model="userData.addressCity"
                                                    v-bind:class="{ 'text-muted': disableCityStateFields }"
                                                    :disabled="disableCityStateFields">
                                            </form-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <form-group label="Estado" label-for="userAddressState" class="mb-0" :error="formErrors.addressState">
                                        <b-select id="userAddressState" autocomplete="address-level1" v-model="userData.addressState" :disabled="disableCityStateFields">
                                            <b-form-select-option :value="null"></b-form-select-option>
                                            <b-form-select-option value="AC">AC</b-form-select-option>
                                            <b-form-select-option value="AL">AL</b-form-select-option>
                                            <b-form-select-option value="AP">AP</b-form-select-option>
                                            <b-form-select-option value="AM">AM</b-form-select-option>
                                            <b-form-select-option value="BA">BA</b-form-select-option>
                                            <b-form-select-option value="CE">CE</b-form-select-option>
                                            <b-form-select-option value="DF">DF</b-form-select-option>
                                            <b-form-select-option value="ES">ES</b-form-select-option>
                                            <b-form-select-option value="GO">GO</b-form-select-option>
                                            <b-form-select-option value="MA">MA</b-form-select-option>
                                            <b-form-select-option value="MT">MT</b-form-select-option>
                                            <b-form-select-option value="MS">MS</b-form-select-option>
                                            <b-form-select-option value="MG">MG</b-form-select-option>
                                            <b-form-select-option value="PA">PA</b-form-select-option>
                                            <b-form-select-option value="PB">PB</b-form-select-option>
                                            <b-form-select-option value="PR">PR</b-form-select-option>
                                            <b-form-select-option value="PE">PE</b-form-select-option>
                                            <b-form-select-option value="PI">PI</b-form-select-option>
                                            <b-form-select-option value="RJ">RJ</b-form-select-option>
                                            <b-form-select-option value="RN">RN</b-form-select-option>
                                            <b-form-select-option value="RS">RS</b-form-select-option>
                                            <b-form-select-option value="RO">RO</b-form-select-option>
                                            <b-form-select-option value="RR">RR</b-form-select-option>
                                            <b-form-select-option value="SC">SC</b-form-select-option>
                                            <b-form-select-option value="SP">SP</b-form-select-option>
                                            <b-form-select-option value="SE">SE</b-form-select-option>
                                            <b-form-select-option value="TO">TO</b-form-select-option>
                                        </b-select>
                                    </form-group>
                                </div>
                            </div>

                            <form-group v-show="showPasswordConfirmation" label="Informe sua senha para continuar" label-for="userPassword" :error="formErrors.password">
                                <input ref="userPassword" type="password" id="userPassword" class="form-control" autocomplete="current-password" v-model="userData.password">
                            </form-group>

                            <div class="form-buttons d-flex justify-content-between">
                                <button-form ref="btnResetPassword" theme="secondary" class="btn-action" tabindex="-1" @click="resetPassword">Redefinir senha</button-form>
                                <button-form ref="btnSaveProfile" type="submit" theme="success" class="btn-action">Atualizar</button-form>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </card-title>

        <card-title title="Login com Redes Sociais">
            <p class="mb-6">
                Utilize os botões abaixo para conectar sua conta às suas redes sociais. Ao se conectar você poderá
                fazer login no painel da Hostoo usando o botão de login da rede social.
            </p>

            <text-loading v-show="isLoadingUser" />

            <div v-if="userData" class="row">
                <div v-for="item in social" :key="`btn-social-${item.id}`" class="col-6 col-md-3 mb-4 mb-md-0">
                    <div class="btn-social-wrapper">
                        <button
                            :ref="`btnSocial_${item.id}`"
                            type="button"
                            class="btn btn-link btn-social"
                            v-bind:class="[`link-${item.id}`, userData.oauth && userData.oauth[item.id] ? 'connected' : '']"
                            :title="item.title"
                            @click="toggleConnection(item.id, !!(!userData.oauth || !userData.oauth[item.id]))"
                        >
                            <span v-if="item.stack" class="fa-stack d-block">
                                <i class="fas fa-square fa-stack-2x"></i>
                                <i class="fa-stack-1x fa-inverse" v-bind:class="item.icon"></i>
                            </span>
                            <i v-else class="d-block" v-bind:class="item.icon"></i>
                        </button>
                        <p class="btn-social-label">
                            <span v-if="userData.oauth && userData.oauth[item.id]">Conectado!</span>
                            <span v-else>Conecte-se ao</span>
                            <span class="d-block" v-bind:class="[userData.oauth && userData.oauth[item.id] ? 'invisible' : '']">{{ item.title }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </card-title>

        <card-title title="Autenticação em 2 Fatores">
            <p class="mb-6">
                Utilize os botões abaixo para vincular a autenticação em dois fatores à sua conta da Hostoo. 
                Faça download de um aplicativo de autenticação, caso ainda não tenha feito, como Google Authenticator,
                Microsoft Authenticator, Authy, Duo Mobile ou 1Password e siga as instuções.
            </p>

            <text-loading v-show="isLoadingUser" />

            <div v-if="userData" class="row">
                <div class="col">
                    
                    <form-group v-show="showPasswordConfirmation2FARemove" label="Informe sua senha para continuar" label-for="userPassword" :error="formErrors.password">
                        <input ref="userPassword2FARemove" type="password" id="userPassword2FARegister" class="form-control" autocomplete="current-password" v-model="userData.password">
                    </form-group>

                    <button-form v-if="!userData.is2FA" ref="btnGenerate2FA" theme="success" class="btn-action" tabindex="-1" @click="generateQRCode2FA">Adicionar</button-form>
                    <div v-else> 
                        <button-form  ref="btnRemove2FA" theme="danger" class="btn-action" tabindex="-1" @click="remove2FA">Remover</button-form>
                        <button-form  ref="btnReconfigure2FA" theme="secondary" class="ml-5 btn-action" tabindex="-1" @click="reconfigure2FA">Reconfigurar</button-form>
                    </div>
  
                </div>
            </div>
        </card-title>

        <b-modal ref="modalResetPassword" title="Redefinição de senha" centered hide-header-close>
            <p class="mb-0">
                Você receberá um e-mail com um link para redefinir sua senha.
            </p>
            <template slot="modal-footer" slot-scope="{ hide }">
                <button type="button" class="btn btn-secondary btn-action" @click="hide">Fechar</button>
            </template>
        </b-modal>

        <b-modal ref="modalGenerate2FA" title="Autenticação de dois fatores" centered hide-header-close>
            <b-container class="modal-2fa" v-if="userData">
                <div class="alert-danger" v-if="isReconfigure2FA" style="">
                    Atenção, ao reconfigurar a autenticação em dois fatores você estará invalidado a configuração anterior, 
                    logo não será possível autenticar com os códigos da mesma. Recomendamos a remoção da configuração antiga 
                    do seu aplicativo de autenticação em dois fatores após a reconfiguração.
                </div>

                <b-row class="justify-content-center">
                    <div id="qrcode" v-html="generate2FA.qr"></div>
                    <div class="d-blok code text-center">
                        <p class="my-4">Escanei o QR Code ou utilize o Código: </p>
                        <b id="key" v-html="generate2FA.key"></b>
                    </div>
                </b-row>

                <b-row class="mt-4 pt-5">
                    <h4>
                        Código de autenticação em dois fatores
                    </h4>
                    <p>
                        Após configurar 2FA, entre com código para validar a integração
                    </p>

                    <div class="d-flex justify-content-center w-100">
                        <div v-show="errorMessage" class="alert alert-danger" v-html="errorMessage"></div>
                    </div>

                    <form-code
                        @verification-code="getCode"
                        :error="formErrors.code"
                    ></form-code>
                </b-row>

                <form-group v-show="showPasswordConfirmation2FARegister" label="Informe sua senha para continuar" label-for="userPassword" :error="formErrors.password">
                    <input ref="userPassword2FARegister" type="password" id="userPassword2FARegister" class="form-control" autocomplete="current-password" v-model="userData.password">
                </form-group>
            </b-container>

            <template slot="modal-footer" slot-scope="{ hide }">
                <button-form class="btn-action" theme="secondary" ref="btnHidRegister2FA" @click="hide">Fechar</button-form>
                <button-form ref="btnOkRegister2FA" theme="success" class="btn-action" @click="register2FA">Confirmar</button-form>
            </template>
        </b-modal>
    </admin-page-template>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import ErrorService      from '@/services/error.service'
    import TextLoading       from '@/components/atoms/TextLoading'
    import ZipCode           from '@/components/atoms/ZipCode'
    import ButtonForm        from '@/components/atoms/ButtonForm'
    import CardTitle         from '@/components/molecules/CardTitle'
    import FormGroup         from '@/components/molecules/FormGroup'
    import FormCode         from '@/components/molecules/FormCode'
    import AdminPageTemplate from '@/components/templates/AdminPageTemplate'

    export default {
        components: {
            ButtonForm,
            ZipCode,
            TextLoading,
            FormGroup,
            FormCode,
            CardTitle,
            AdminPageTemplate
        },
        data() {
            return {
                social: [
                    { id: 'facebook', title: 'Facebook', icon: 'fab fa-facebook-square'             },
                    { id: 'google',   title: 'Google',   icon: 'fab fa-google',         stack: true },
                    { id: 'twitter',  title: 'Twitter',  icon: 'fab fa-twitter-square'              },
                    { id: 'github',   title: 'GitHub',   icon: 'fab fa-github-square'               },
                ],

                userData: null,
                disableCityStateFields: false,
                showPasswordConfirmation: false,

                defaultPhoto: 'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="150" height="150" %3E%3Crect width="150" height="150" x="0" y="0" style="fill:%23DDDDDD;" /%3E%3C/svg%3E',
                photoFile: null,
                photoPreview: null,

                formErrors: {},
                errorMessage: "",
                generate2FA:{},
                verificationCode:[],
                showPasswordConfirmation2FARegister:false,
                showPasswordConfirmation2FARemove:false,
                isReconfigure2FA: false
            }
        },
        computed: {
            ...mapState('user', ['user', 'isLoadingUser']),

            userPhoto: function() {
                return this.photoPreview || this.userData.photo || this.defaultPhoto;
            }
        },
        created()
        {
            this.fetchUser();
        },
        mounted()
        {
            if (this.user) {
                this.userData = Object.assign({}, this.user);
            }
        },
        methods: {
            ...mapActions({
                getUser: 'user/getUser',
                fetchUser: 'user/fetchUser',
                successNotification: 'notification/success',
                showErrorAlert: 'alert/error',
                showLoading: 'loading/show',
                hideLoading: 'loading/hide',
            }),

            /**
             * Atualizar dados de endereço a partir do CEP.
             * @param {Object} data
             */
            updateAddress(data)
            {
                if (data && this.userData)
                {
                    this.$set(this.userData, 'addressStreet',       data.street);
                    this.$set(this.userData, 'addressNeighborhood', data.neighborhood);
                    this.$set(this.userData, 'addressCity',         data.city);
                    this.$set(this.userData, 'addressState',        data.state);
                    this.disableCityStateFields = true;
                }
                else
                {
                    this.$set(this.userData, 'addressCity',  '');
                    this.$set(this.userData, 'addressState', '');
                    this.disableCityStateFields = false;
                }
            },

            /**
             * Alterar a foto atual do usuário.
             */
            changePhoto(evt)
            {
                const reader = new FileReader();
                const files  = evt.target.files || evt.dataTransfer.files;
                const photo  = files.length ? files[0] : null;

                this.photoFile = photo;

                reader.onload = (e) => {
                    let image = new Image();

                    image.onload = () => {
                        const size  = 150;
                        let canvas  = document.createElement('canvas'),
                            width   = image.width,
                            height  = image.height,
                            start_x = 0,
                            start_y = 0;

                        if (width > height) {
                            width   = (width/height) * size;
                            height  = size;
                            start_x = (width - height) / 2;
                        }
                        else {
                            height  = (height/width) * size;
                            width   = size;
                            start_y = (height - width) / 2;
                        }

                        canvas.width  = size;
                        canvas.height = size;
                        canvas.getContext('2d').drawImage(image, -start_x, -start_y, width, height);

                        this.photoPreview = canvas.toDataURL('image/png');
                        this.userData.photoHasChanged = true;
                    };

                    image.src = e.target.result;
                };

                if (photo) {
                    if (/\.(jpe?g|png)$/i.test(photo.name)) {
                        reader.readAsDataURL(photo);
                    }
                    else {
                        alert("Escolha uma imagem no formato jpg ou png.");
                    }
                }
            },

            /**
             * Remover foto atual do usuário.
             */
            removePhoto()
            {
                this.photoFile = null;
                this.photoPreview = null;
                this.userData.photo = null;
                this.userData.photoHasChanged = true;
                this.$refs.userPhoto.value = null;
            },

            /**
             * Salvar modificações no perfil do usuário.
             */
            saveProfile()
            {
                // Verificar se o usuário inseriu a senha para confirmação
                if (!this.userData.password)
                {
                    this.showPasswordConfirmation = true;
                    this.$nextTick(() => this.$refs.userPassword.focus());
                    return;
                }

                this.formErrors = {};

                this.$refs.btnSaveProfile.loadingFocus();
                this.$refs.btnResetPassword.setDisabled(true);

                let formData = new FormData(), key;

                for (key in this.userData) {
                    if (key !== 'photo') {
                        formData.append(key, this.userData[key]);
                    }
                }

                formData.append('photo', this.photoFile || '');

                this.$api.post('/user', formData, { headers: {'content-type': 'multipart/form-data'} })
                    .then(response => {
                        this.showPasswordConfirmation = false;
                        this.userData.password = null;
                        this.successNotification({ message: 'Alterações salvas' });

                        // Atualizar dados do usuário
                        this.getUser();
                    })
                    .catch(error => ErrorService.handleFormError(error, this))
                    .then (() => {
                        this.$refs.btnResetPassword.setDisabled(false);
                        this.$refs.btnSaveProfile.setLoading(false);
                    });
            },

            /**
             * Redefinir senha do usuário.
             */
            resetPassword()
            {
                this.$refs.btnResetPassword.loadingFocus();
                this.$refs.btnSaveProfile.setDisabled(true);

                this.$api.post('/user/reset-password')
                    .then (response => this.$refs.modalResetPassword.show())
                    .catch(error => this.showErrorAlert(error))
                    .then (() => {
                        this.$refs.btnSaveProfile.setDisabled(false);
                        this.$refs.btnResetPassword.setLoading(false);
                    });
            },

            /**
             * Gerar QR Code par registro de autenticação de dois fatores
            */
            generateQRCode2FA(){
                if(!this.isReconfigure2FA)
                    this.$refs.btnGenerate2FA.loadingFocus();

                this.$api.post('user/2fa/generate')
                    .then (response => {
                        
                        this.generate2FA = {
                            key: response.data.key,
                            qr: response.data.qr
                        } 
                        
                        this.$refs.modalGenerate2FA.show()
                    })
                    .catch(error => this.showErrorAlert(error))
                    .then (() => {
                        if(!this.isReconfigure2FA)
                            this.$refs.btnGenerate2FA.setLoading(false);
                        else{
                            this.$refs.btnReconfigure2FA.setLoading(false);
                            this.$refs.btnRemove2FA.setDisabled(false);
                        }
                    });                
            },

            /**
             * Recupera o código do componente FormCode e salva em verificationCode
            */
            getCode(payload){
                this.verificationCode = payload.verificationCode;
            },

            /**
             * Integra a autenticação em dois fatores a conta do usuário.
            */
            register2FA(){
                if(this.verificationCode.length == 6){

                    if (!this.userData.password)
                    {
                        this.showPasswordConfirmation2FARegister = true;
                        this.$nextTick(() => this.$refs.userPassword2FARegister.focus());
                        return;
                    }

                    this.$refs.btnOkRegister2FA.loadingFocus();
                    this.$refs.btnHidRegister2FA.setDisabled(true);

                    var key_2fa = this.generate2FA.key;
                    var code = this.verificationCode.join('');
                    var password = this.userData.password;

                    this.$api.post('user/2fa/register', {key_2fa: key_2fa, code: code, password: password})
                        .then (response => {
                            this.userData.is2FA = true;
                            this.successNotification({ message: 'Autenticação em dois fatores registrada com sucesso.' });
                            this.$refs.modalGenerate2FA.hide();

                            this.showPasswordConfirmation2FARegister = false;
                            this.userData.password = null;
                            
                            // Atualizar dados do usuário
                            this.getUser();
                        })
                        .catch(error => {
                            const status = error.response.status || 0;
                            
                            if (status >= 400 && typeof error.response.data.message !== 'undefined') {
                                this.errorMessage = error.response.data.message;
                            }
                            else {
                                this.showErrorAlert(error);
                            }
                        })
                        .then (() => {
                            this.$refs.btnOkRegister2FA.setLoading(false);
                            this.$refs.btnHidRegister2FA.setDisabled(false);
                            this.$refs.btnRemove2FA.setLoading(false);
                        });
                }
            },

            /**
             * Remove a autenticação em dois fatores da conta do usuário
            */
            remove2FA(){

                if (!this.userData.password)
                {
                    this.showPasswordConfirmation2FARemove = true;
                    this.$nextTick(() => this.$refs.userPassword2FARemove.focus());
                    return;
                }

                this.$refs.btnRemove2FA.loadingFocus();

                var password = this.userData.password;

                this.$api.post('user/2fa/remove', {password: password})
                    .then (response => {
                        this.userData.is2FA = false;
                        this.successNotification({ message: 'Autenticação em duas etapas removida com sucesso.' });
                        
                        this.showPasswordConfirmation2FARemove = false;
                        this.userData.password = null;

                        this.isReconfigure2FA = false;

                        // Atualizar dados do usuário
                        this.getUser();
                    })
                    .catch(error => this.showErrorAlert(error))
                    .then (() => {
                        this.$refs.btnResetPassword.setDisabled(false);
                        this.$refs.btnSaveProfile.setDisabled(false);
                        this.$refs.btnGenerate2FA.setLoading(false);
                    });    
                    
            },

            /**
             * Gera uma nova chave com QR code para substituir a última configuração
            */
            reconfigure2FA(){
                this.isReconfigure2FA = true;
                this.$refs.btnReconfigure2FA.loadingFocus();
                this.$refs.btnRemove2FA.setDisabled(true);
                this.generateQRCode2FA()
            },

            /**
             * Ativar ou desativar conexão com uma rede social.
             * @param {string}  id      ID da rede social.
             * @param {boolean} status  True para ativar ou False para desativar.
             */
            toggleConnection(id, status)
            {
                const isRemove = (status === false);

                this.$refs['btnSocial_'+id][0].disabled = true;

                this.showLoading();

                let postData = {};

                if (isRemove) {
                    postData.remove = true;
                }

                this.$api.post('/user/oauth/' + id, postData)
                    .then (response => {
                        if (isRemove) {
                            let oauth = this.userData.oauth || {};
                            oauth[id] = false;
                            this.$set(this.userData, 'oauth', oauth);
                        }
                        else {
                            window.location.href = response.data.data.redirect
                        }
                    })
                    .catch(error => this.showErrorAlert(error))
                    .then (() => {
                        this.hideLoading();

                        if (isRemove) {
                            this.$refs['btnSocial_'+id][0].disabled = false;
                        }
                    });
            }
        },
        watch: {
            user: function (val) {
                if (!this.userData && val) {
                    this.userData = Object.assign({}, val);
                }
            }
        }
    }
</script>

<style lang="stylus">
    .h-p-user-profile
        .h-user-photo-wrapper
            text-align center

        .custom-file-image .img-thumbnail
            width 150px
            height auto
            border 0
            padding 5px

        .btn-social
            padding 0
            font-size 4rem
            text-decoration none

            .fa-stack
                width 2em
                font-size .5em

            &.connected
                opacity .25

                &:hover, &:focus
                    opacity 1

        .btn-social-wrapper
            text-align center

        .btn-social-label
            margin-bottom 0
            margin-top .325rem
            line-height 1.375
            font-size .875rem
            font-weight 700

    .modal-2fa
        .code
            p
                margin-top -10px!important
                margin-bottom 2px!important
            margin-bottom 10px!important
            
        p
            font-size 11pt

        .alert
            margin-bottom 0px!important
</style>