<template>
    <admin-page-template>
        <card-title title="Programa de Afiliados">
            <template slot="actions">
                <a href="https://hostoo.io/legal/programa-de-afiliados" target="_blank" class="btn btn-secondary btn-rounded">
                    <i class="fas fa-book mr-1"></i> Regras
                </a>
            </template>

            <text-loading v-show="isLoading" />

            <div v-if="!isLoading && affiliate">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-sm mb-0">
                            <tbody>
                                <tr>
                                    <th class="col-50 col-nowrap border-top-0">Total de indicações: </th>
                                    <td class="text-right border-top-0">
                                        {{ affiliate.clientsTotal }}
                                        <button type="button" class="btn btn-link p-0 align-middle ml-1" title="Ver status das indicações" v-b-tooltip.hover v-b-toggle.collapseClientsStatuses>
                                            <i class="fas fa-plus-circle" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <b-collapse id="collapseClientsStatuses">
                            <div class="pb-2"></div>
                            <table class="table table-sm mb-0">
                                <tbody>
                                    <tr>
                                        <th class="text-center col-nowrap border-top-0" width="25%">Cadastro</th>
                                        <th class="text-center col-nowrap border-top-0" width="25%">Testando</th>
                                        <th class="text-center col-nowrap border-top-0" width="25%">Ativo</th>
                                        <th class="text-center col-nowrap border-top-0" width="25%">Inativo</th>
                                    </tr>
                                    <tr>
                                        <td class="text-center">{{ affiliate.clientsRegister }}</td>
                                        <td class="text-center">{{ affiliate.clientsTesting }}</td>
                                        <td class="text-center">{{ affiliate.clientsActive }}</td>
                                        <td class="text-center">{{ affiliate.clientsInactive }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </b-collapse>

                        <table class="table table-hover table-sm mt-3">
                            <tbody>
                            <tr>
                                <th class="col-50 col-nowrap border-top-0">Saldo atual: </th>
                                <td class="border-top-0 text-right">
                                    <span>{{ 'R$ ' + affiliate.balance.toFixed(2).replace('.', ',') }}</span>
                                </td>
                            </tr>
                            <!--<tr>
                                <th class="col-50 col-nowrap">Saldo pendente: </th>
                                <td class="text-right">
                                    <span>{{ 'R$ ' + affiliate.pending.toFixed(2).replace('.', ',') }}</span>
                                </td>
                            </tr>-->
                            <tr>
                                <th class="col-50 col-nowrap">Total sacado: </th>
                                <td class="text-right">
                                    <span>{{ 'R$ ' + affiliate.withdrawn.toFixed(2).replace('.', ',') }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!--<table class="table table-hover table-sm">
                            <tbody>
                                <tr>
                                    <th class="col-50 col-nowrap border-top-0">Ganhos no mês: </th>
                                    <td class="text-right border-top-0">R$ 0,00</td>
                                </tr>
                                <tr>
                                    <th class="col-50 col-nowrap">Indicações no mês: </th>
                                    <td class="text-right">0</td>
                                </tr>
                            </tbody>
                        </table>-->

                        <span ref="btnWithdrawWrapper" class="d-inline-block pr-1" tabindex="0">
                            <button type="button" ref="btnWithdraw" class="btn btn-primary btn-rounded" @click="showWithdrawModal" :disabled="affiliate.balance < affiliate.withdrawMinimum">
                                Solicitar saque
                            </button>
                        </span>

                        <b-tooltip :target="() => $refs['btnWithdrawWrapper']" placement="bottom" :disabled="affiliate.balance >= affiliate.withdrawMinimum">
                            Você poderá solicitar um saque quando tiver um mínimo de R$ {{ affiliate.withdrawMinimum }}
                        </b-tooltip>
                    </div>

                    <div class="col-md-6 pl-md-4 mt-4 mt-md-0">
                        <div class="form-group" ref="group">
                            <label class="form-label ml-2" for="affiliateLink">Link de indicação</label>
                            <div class="input-group">
                                <input type="url" id="affiliateLink" ref="affiliateLink" class="form-control" v-bind:value="affiliateLink" readonly>
                                <div class="input-group-append">
                                    <button type="button" ref="btnCopyLink" class="btn btn-primary btn-rounded-right" @click="copyAffiliateLink">Copiar</button>
                                </div>
                            </div>
                            <b-form-checkbox class="ml-2 mt-2" v-model="isRegisterLink">
                                Redirecionar para página de cadastro
                            </b-form-checkbox>
                        </div>

                        <hr class="spacer mb-3">

                        <div class="affiliate-share-links">
                            <p class="mb-2">Compartilhe em suas redes sociais:</p>

                            <ul class="nav ml-1">
                                <li class="nav-item mr-2">
                                    <a :href="getFacebookLink" target="_blank" rel="noopener" class="nav-link link-facebook p-0" title="Compartilhar no Facebook" aria-label="Compartilhar no Facebook">
                                        <i class="fab fa-facebook-square fa-3x d-block"></i>
                                    </a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a :href="getTwitterLink" target="_blank" rel="noopener" class="nav-link link-twitter p-0" title="Compartilhar no Twitter" aria-label="Compartilhar no Twitter">
                                        <i class="fab fa-twitter-square fa-3x d-block"></i>
                                    </a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a :href="getWhatsappLink" target="_blank" rel="noopener" class="nav-link link-whatsapp p-0" title="Compartilhar no WhatsApp" aria-label="Compartilhar no WhatsApp">
                                        <i class="fab fa-whatsapp-square fa-3x d-block"></i>
                                    </a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a :href="getLinkedinLink" target="_blank" rel="noopener" class="nav-link link-linkedin p-0" title="Compartilhar no LinkedIn" aria-label="Compartilhar no LinkedIn">
                                        <i class="fab fa-linkedin fa-3x d-block"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </card-title>

        <card-title title="Indicações">
            <div class="table-responsive-sm">
                <table class="table table-custom-header" v-bind:class="{ 'table-hover': affiliate && affiliate.clients.length }">
                    <thead>
                        <tr>
                            <th class="col-datetime">
                                <span class="pl-2">Data</span>
                            </th>
                            <th class="col-nowrap">E-mail</th>
                            <th class="col-150 col-nowrap">
                                Status
                                <button type="button" class="btn btn-link p-0" title="Ajuda" @click="$refs.modalClientStatusHelp.show()">
                                    <i class="fas fa-question-circle" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th class="col-150 col-nowrap text-right">
                                Recorrência
                                <button type="button" class="btn btn-link p-0" title="Ajuda" @click="$refs.modalRecurringHelp.show()">
                                    <i class="fas fa-question-circle" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th class="col-150 text-right">
                                <span class="pr-2">Ganhos</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="isLoading">
                            <td colspan="5">
                                <text-loading />
                            </td>
                        </tr>
                        <tr v-else-if="!isLoading && (!affiliate || !affiliate.clients.length)">
                            <td colspan="5">
                                Nenhuma indicação encontrada.
                            </td>
                        </tr>
                        <template v-else v-for="item in affiliate.clients">
                            <tr>
                                <td>{{ item.date | moment("DD/MM/YYYY") }}</td>
                                <td>{{ item.email }}</td>
                                <td>
                                    <span v-bind:class="getClientStatusClass(item.status)">{{ item.statusText }}</span>
                                </td>
                                <td class="col-nowrap text-right">{{ 'R$ ' + item.recurring.toFixed(2).replace('.', ',') }}</td>
                                <td class="col-nowrap text-right">{{ 'R$ ' + item.commission.toFixed(2).replace('.', ',') }}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>

            <p class="text-muted font-italic mb-0">
                <small>Visualização limitada às últimas 50 indicações</small>
            </p>
        </card-title>

        <card-title title="Histórico de Ganhos">
            <table class="table table-custom-header" v-bind:class="{ 'table-hover': affiliate && affiliate.history.length }">
                <thead>
                    <tr>
                        <th>
                            <span class="pl-2">Mês</span>
                        </th>
                        <th class="col-150 text-right">
                            <span class="pr-2">Ganhos</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="isLoading">
                        <td colspan="2">
                            <text-loading />
                        </td>
                    </tr>
                    <tr v-else-if="!isLoading && (!affiliate || !affiliate.history.length)">
                        <td colspan="2">
                            Nenhuma comissão encontrada.
                        </td>
                    </tr>
                    <template v-else v-for="item in affiliate.history">
                        <tr>
                            <td>{{ $moment(item.month, "YYYYMM").format('MM/YYYY') }}</td>
                            <td class="col-150 text-right">{{ 'R$ ' + item.amount.toFixed(2).replace('.', ',') }}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </card-title>

        <b-modal ref="modalWithdraw" title="Solicitar saque de afiliado" centered hide-footer hide-header-close>
            <form @submit.prevent="requestWithdraw">
                <div class="alert alert-info" role="alert">
                    Você pode converter o seu saldo de afiliado em créditos na Hostoo e receber o
                    dobro do valor! Para isso, basta escolher o <strong>Tipo de saque</strong> como
                    <strong>Créditos em dobro</strong>.
                </div>

                <table v-if="affiliate" class="table table-sm">
                    <tr>
                        <th class="col-50 col-nowrap border-top-0">Saldo atual: </th>
                        <td class="border-top-0">
                            <span>{{ 'R$ ' + affiliate.balance.toFixed(2).replace('.', ',') }}</span>
                        </td>
                    </tr>
                </table>

                <div class="row">
                    <div class="col-md-6">
                        <form-group label="Valor do saque" label-for="withdrawAmount" :error="formErrors.amount">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">R$</span>
                                </div>
                                <money
                                    id="withdrawAmount"
                                    class="form-control text-right"
                                    placeholder="0"
                                    autocomplete="off"
                                    v-model="withdraw.amount"
                                    v-bind="{decimal:',',thousands:'.',precision:2,masked:false}" />
                            </div>
                        </form-group>
                    </div>
                    <div class="col-md-6">
                        <form-group label="Valor em créditos na Hostoo" label-for="withdrawCredits">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">R$</span>
                                </div>
                                <input type="text" id="withdrawCredits" class="form-control text-right" v-model="withdrawCredits" readonly>
                            </div>
                        </form-group>
                    </div>
                </div>

                <form-group label="Tipo de saque" label-for="withdrawType" class="mb-0" :error="formErrors.type">
                    <select id="withdrawType" class="custom-select" v-model="withdraw.type">
                        <option value="" disabled>Escolha uma opção...</option>
                        <option value="CRD">Créditos em dobro na Hostoo</option>
                        <option value="TRA">Transferência bancária</option>
                    </select>
                </form-group>

                <div v-show="withdraw.type === 'TRA'">
                    <form-group label="Nome do banco" label-for="withdrawBankName" class="mt-4" :error="formErrors.bankName">
                        <input type="text" id="withdrawBankName" class="form-control" placeholder="Ex.: Banco do Brasil, Bradesco, etc" v-model="withdraw.bankName" v-input-uppercase>
                    </form-group>

                    <div class="row">
                        <div class="col-md-6">
                            <form-group label="Agência (com dígito)" label-for="withdrawBankAgency" :error="formErrors.bankAgency">
                                <input type="text" id="withdrawBankAgency" class="form-control" placeholder="0000-0" v-model="withdraw.bankAgency" v-input-uppercase>
                            </form-group>
                        </div>

                        <div class="col-md-6">
                            <form-group label="Conta (com dígito)" label-for="withdrawBankAccount" :error="formErrors.bankAccount">
                                <input type="text" id="withdrawBankAccount" class="form-control" placeholder="00000-0" v-model="withdraw.bankAccount" v-input-uppercase >
                            </form-group>
                        </div>
                    </div>

                    <form-group label="CPF" label-for="withdrawBankDocument" :error="formErrors.bankDocument">
                        <the-mask
                            type="tel"
                            id="withdrawBankDocument"
                            class="form-control"
                            placeholder="000.000.000-00"
                            mask="###.###.###-##"
                            v-model="withdraw.bankDocument" />
                    </form-group>

                    <form-group label="Nome completo do titular" label-for="withdrawBankHolder" class="mb-0" :error="formErrors.bankHolder">
                        <input type="text" id="withdrawBankHolder" class="form-control" v-model="withdraw.bankHolder" v-input-uppercase>
                    </form-group>
                </div>

                <div class="form-buttons text-right">
                    <button type="button" ref="cancelWithdraw" class="btn btn-secondary btn-action mr-2" @click="$refs.modalWithdraw.hide()">Cancelar</button>
                    <button-form ref="submitWithdraw" type="submit" variant="success" class="btn-action">Enviar</button-form>
                </div>
            </form>
        </b-modal>

        <b-modal ref="modalClientStatusHelp" title="Status da indicação" centered hide-footer hide-header-close>
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <td class="col-100 border-top-0">
                            <span v-bind:class="getClientStatusClass('Register')">Cadastro</span>
                        </td>
                        <td class="border-top-0">O usuário ainda está na etapa de cadastro (confirmação de e-mail e celular).</td>
                    </tr>
                    <tr>
                        <td class="col-100">
                            <span v-bind:class="getClientStatusClass('Testing')">Testando</span>
                        </td>
                        <td>O usuário concluiu o cadastro e está utilizando os créditos de teste da conta.</td>
                    </tr>
                    <tr>
                        <td class="col-100">
                            <span v-bind:class="getClientStatusClass('Active')">Ativo</span>
                        </td>
                        <td>O usuário já realizou pelo menos uma recarga e possui serviços ativos.</td>
                    </tr>
                    <tr>
                        <td class="col-100">
                            <span v-bind:class="getClientStatusClass('Inactive')">Inativo</span>
                        </td>
                        <td>O usuário não possui serviços ativos ou parou de utilizar a plataforma.</td>
                    </tr>
                </tbody>
            </table>
        </b-modal>

        <b-modal ref="modalRecurringHelp" title="Ganho recorrente com o indicado" centered hide-footer hide-header-close>
            <p>
                É o valor previsto de quanto você poderá ganhar de comissão mensalmente com este indicado
                com base no consumo dos produtos/serviços ativos dele.
            </p>
            <p>
                Por exemplo: Se o indicado possui atualmente um consumo mensal de <strong>R$ 1.000,00</strong>
                com seus produtos/serviços ativos, seu ganho recorrente mensal com ele será de <strong>R$ 100,00</strong>.
            </p>
            <p class="mb-0">
                Quanto mais produtos/serviços ativos o indicado tiver, maior será o seu ganho recorrente
                mensal com ele.
            </p>
        </b-modal>
    </admin-page-template>
</template>

<script>
    import { mapActions }    from 'vuex'
    import { Money }         from 'v-money'
    import ErrorService      from '@/services/error.service'
    import TextLoading       from '@/components/atoms/TextLoading'
    import ButtonForm        from '@/components/atoms/ButtonForm'
    import CardTitle         from '@/components/molecules/CardTitle'
    import FormGroup         from '@/components/molecules/FormGroup'
    import AdminPageTemplate from '@/components/templates/AdminPageTemplate'

    export default {
        components: {
            ButtonForm,
            Money,
            FormGroup,
            TextLoading,
            CardTitle,
            AdminPageTemplate
        },
        data() {
            return {
                isLoading: false,
                affiliate: null,
                affiliateLink: "",
                isRegisterLink: false,
                withdraw: {},
                formErrors: {},
            }
        },
        computed: {
            getFacebookLink: function () {
                return "https://www.facebook.com/sharer/sharer.php?u=" + encodeURI(this.affiliateLink);
            },
            getTwitterLink: function () {
                return "https://twitter.com/intent/tweet?url=" + encodeURI(this.affiliateLink);
            },
            getWhatsappLink: function () {
                return "https://wa.me/?text=" + encodeURI(this.affiliateLink);
            },
            getLinkedinLink: function () {
                return "https://www.linkedin.com/shareArticle?mini=true&url=" + encodeURI(this.affiliateLink);
            },
            withdrawCredits: function () {
                return this.withdraw.amount ? (this.withdraw.amount * 2).toFixed(2).replace('.', ',') : '0,00';
            }
        },
        mounted()
        {
            this.fetchData();
        },
        methods: {
            ...mapActions({
                successNotification: 'notification/success',
                showErrorAlert: 'alert/error',
            }),

            getClientStatusClass(status)
            {
                switch (status) {
                    case "Register": return "badge badge-primary";
                    case "Testing":  return "badge badge-warning";
                    case "Active":   return "badge badge-success";
                    case "Inactive": return "badge badge-secondary";
                    default:         return "badge";
                }
            },

            fetchData()
            {
                this.isLoading = true;

                this.$api.get('/affiliate')
                    .then (response => {
                        this.affiliate = response.data.data;
                        this.affiliateLink = this.affiliate.link;
                    })
                    .catch(error => this.showErrorAlert(error))
                    .then (() => this.isLoading = false);
            },

            /**
             * Exibir  modal de solictar um saque.
             */
            showWithdrawModal()
            {
                if (!this.affiliate || this.affiliate.balance < this.affiliate.withdrawMinimum)
                    return;

                this.withdraw = {
                    amount: this.affiliate.balance,
                    type: "",
                };

                this.formErrors = {};
                this.$refs.modalWithdraw.show();
            },

            /**
             * Solictar saque.
             */
            requestWithdraw()
            {
                this.formErrors = {};

                this.$refs.submitWithdraw.loadingFocus();
                this.$refs.cancelWithdraw.disabled = true;

                this.$api.post(`/affiliate/withdraw`, this.withdraw)
                    .then(response => {
                        this.$refs.modalWithdraw.hide();
                        this.successNotification({ message: response.data.message });
                    })
                    .catch(error => {
                        ErrorService.handleFormError(error, this);
                        this.$refs.cancelWithdraw.disabled = false;
                        this.$refs.submitWithdraw.setLoading(false);
                    });
            },

            /**
             * Copiar link de afiliado.
             */
            copyAffiliateLink()
            {
                // Copiar
                this.$refs.affiliateLink.focus();
                this.$refs.affiliateLink.setSelectionRange(0, this.$refs.affiliateLink.value.length);
                document.execCommand("copy");

                // Mudar texto do botão
                const labelCopy   = "Copiar";
                const labelCopied = "Copiado";

                this.$refs.btnCopyLink.innerHTML = labelCopied;
                this.$refs.btnCopyLink.classList.add("btn-success");
                this.$refs.btnCopyLink.classList.remove("btn-primary");

                setTimeout(
                    () => {
                        this.$refs.btnCopyLink.innerHTML = labelCopy;
                        this.$refs.btnCopyLink.classList.remove("btn-success");
                        this.$refs.btnCopyLink.classList.add("btn-primary");
                    },
                    3000
                );
            },
        },
        watch: {
            isRegisterLink: function(val) {
                // console.log(val);
                this.$set(this, 'affiliateLink', (val ? this.affiliate.linkRegister : this.affiliate.link));
            }
        }
    }
</script>