<template>
    <admin-page-template class="h-p-user-notifications">
        <card-title title="Notificações">
            <p class="mb-6">
                As notificações permitem que você seja avisado quando determinados eventos ou incidentes acontecerem em
                sua conta ou em suas hospedagens. Abaixo você pode habilitar ou desabilitar as notificações individualmente.
            </p>

            <text-loading v-show="isLoadingNotifications" />

            <div v-if="notifications">
                <div class="h-notification-section">
                    <h4 class="card-title-inner mb-4">Financeiro</h4>

                    <div v-for="(item, key) in options.financial" :key="`notification-financial-${key}`" class="h-notification-item">
                        <toggle-switch
                            v-model="notifications.financial[key]"
                            :disabled="item.loading"
                            @change="updateNotification('financial', key)" />
                        <span class="h-notification-text">{{ item.label }}</span>
                    </div>
                </div>

                <div class="h-notification-section">
                    <h4 class="card-title-inner mb-4">Hospedagens</h4>

                    <div v-for="(item, key) in options.hosting" :key="`notification-hosting-${key}`" class="h-notification-item">
                        <toggle-switch
                            v-model="notifications.hosting[key]"
                            :disabled="item.loading"
                            @change="updateNotification('hosting', key)" />
                        <span class="h-notification-text">{{ item.label }}</span>
                    </div>
                </div>

                <div class="h-notification-section">
                    <h4 class="card-title-inner mb-4">Conta</h4>

                    <div v-for="(item, key) in options.account" :key="`notification-account-${key}`" class="h-notification-item">
                        <toggle-switch
                            v-model="notifications.account[key]"
                            :disabled="item.loading"
                            @change="updateNotification('account', key)" />
                        <span class="h-notification-text">{{ item.label }}</span>
                    </div>
                </div>
            </div>
        </card-title>
    </admin-page-template>
</template>

<script>
    import {mapActions}      from 'vuex'
    import ToggleSwitch      from '@/components/atoms/ToggleSwitch'
    import TextLoading       from '@/components/atoms/TextLoading'
    import CardTitle         from '@/components/molecules/CardTitle'
    import AdminPageTemplate from '@/components/templates/AdminPageTemplate'
    import AjaxService       from '@/services/AjaxService'

    export default {
        components: {
            TextLoading,
            ToggleSwitch,
            CardTitle,
            AdminPageTemplate
        },
        data() {
            return {
                options: {
                    financial: {
                        out_of_credits_5_days: {
                            value: true,
                            loading: false,
                            label: "Avisar quando faltar 5 dias para acabar os créditos em minha conta",
                        },
                        out_of_credits_3_days: {
                            value: true,
                            loading: false,
                            label: "Avisar quando faltar 3 dias para acabar os créditos em minha conta",
                        },
                        out_of_credits_24_hours: {
                            value: true,
                            loading: false,
                            label: "Avisar quando faltar menos de 24 horas para acabar os créditos em minha conta",
                        },
                        new_recharge: {
                            value: true,
                            loading: false,
                            label: "Avisar quando for feita uma nova recarga",
                        },
                        recharge_cancelled: {
                            value: true,
                            loading: false,
                            label: "Avisar quando uma recarga for negada ou cancelada",
                        },
                    },
                    account: {
                        email_changed: {
                            value: true,
                            loading: false,
                            label: "Avisar quando o e-mail de minha conta for alterado",
                        },
                        password_changed: {
                            value: true,
                            loading: false,
                            label: "Avisar quando a senha de minha conta for alterada",
                        },
                        access_from_new_ip: {
                            value: true,
                            loading: false,
                            label: "Avisar quando minha conta for acessada a partir de um novo IP",
                        },
                    },
                    hosting: {
                        cpu_usage_over_80: {
                            value: false,
                            loading: false,
                            label: "Avisar quando minha hospedagem utilizar mais de 80% de CPU por pelo menos 10 minutos",
                        },
                        ram_usage_over_80: {
                            value: false,
                            loading: false,
                            label: "Avisar quando minha hospedagem utilizar mais de 80% de RAM por pelo menos 10 minutos",
                        },
                        disk_space_below_2: {
                            value: true,
                            loading: false,
                            label: "Avisar quando minha hospedagem possuir menos de 2GB de espaço livre de armazenamento",
                        },
                        removal: {
                            value: true,
                            loading: false,
                            label: "Avisar quando minha hospedagem estiver perto de ser removida por tempo de suspensão",
                        },
                    },
                },
                notifications: null,
                isLoadingNotifications: false
            }
        },
        beforeRouteLeave(to, from, next)
        {
            AjaxService.cancel();
            next();
        },
        mounted()
        {
            this.fetchData();
        },
        methods: {
            ...mapActions({
                showErrorAlert: 'alert/error',
                infoNotification: 'notification/info',
                successNotification: 'notification/success',
                closeNotification: 'notification/close',
            }),

            /**
             * Carregar dados de notificações.
             */
            fetchData()
            {
                this.isLoadingNotifications = true;

                this.$api.get('/user/notifications', { cancelToken: AjaxService.getCancelToken() })
                    .then ((response) => this._dataToNotifications(response.data.data.notifications))
                    .catch(error => this.showErrorAlert(error))
                    .then (() => this.isLoadingNotifications = false);
            },

            _dataToNotifications(data)
            {
                let values = {};

                for (let key1 in this.options)
                {
                    values[key1] = {};

                    for (let key2 in this.options[key1])
                    {
                        values[key1][key2] = this.options[key1][key2].value;

                        if (typeof data[key2] !== 'undefined') {
                            values[key1][key2] = data[key2];
                        }
                    }
                }

                this.$set(this, 'notifications', values);
            },

            /**
             *
             */
            updateNotification(group, key)
            {
                let alertId;

                this.infoNotification({ message: 'Salvando alterações...', timeout: 0 }).then(item => alertId = item.id);
                this.$set(this.options[group][key], 'loading', true);

                let postData = {};

                for (let key1 in this.options) {
                    for (let key2 in this.options[key1]) {
                        if (typeof this.notifications[key1][key2] != 'undefined') {
                            postData[key2] = this.notifications[key1][key2];
                        }
                    }
                }

                this.$api.post('/user/notifications', { notifications: postData })
                    .then (() => {
                        this.closeNotification(alertId);
                        this.successNotification({ message: 'Alterações salvas' });
                    })
                    .catch(error => this.showErrorAlert(error))
                    .then (() => this.$set(this.options[group][key], 'loading', false));
            },
        }
    }
</script>

<style lang="stylus">
    .h-p-user-notifications
        .h-notification-section
            margin-top 1.5rem

        .h-notification-item
            display flex
            /*justify-content space-between*/
            align-items flex-start
            margin-bottom .75rem
            padding .75rem 1.25rem
            border-radius $border-radius-lg
            background-color $gray-100

            &:last-child
                margin-bottom 0

        .h-notification-text
            margin-left 1.25rem
</style>