<template>
    <admin-page-template class="h-p-support-ticket">
        <card-title v-if="ticket" inner-body>
            <h4 class="card-title-inner mb-6">#{{ ticket.id }} - {{ ticket.subject }}</h4>

            <div class="row">
                <div class="col-lg-3 order-last">
                    <div class="h-ticket-info pl-lg-4">
                        <h5>Status</h5>
                        <p>{{ ticket.statusText }}</p>

                        <h5 class="mt-6">Última atualização</h5>
                        <p>{{ ticket.updatedAt | moment("from", new Date()) }}</p>

                        <h5 class="mt-6">Criado em</h5>
                        <p>{{ ticket.createdAt | moment('DD/MM/YYYY HH:mm') }}</p>

                        <h5 class="mt-6">Departamento</h5>
                        <p>{{ ticket.department }}</p>

                        <div v-if="!ticket.closed" class="mt-6">
                            <button type="button" class="btn btn-success w-40" @click="focusReply" :disabled="isClosingTicket">Responder</button>
                        </div>

                        <div v-if="!ticket.closed" class="mt-2">
                            <button
                                type="button"
                                class="btn btn-secondary w-40"
                                v-bind:class="{ 'btn-loading': isClosingTicket }"
                                :disabled="isClosingTicket"
                                @click="showCloseConfirm">Encerrar ticket</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-first">
                    <div class="h-ticket-replies">
                        <div v-for="reply in ticket.replies" class="media h-media-reply">
                            <i v-if="reply.isAdmin" class="h-icon-avatar fas fa-user-tie"></i>
                            <img v-else-if="user && user.photo" :src="user.photo" width="32" height="32" class="rounded-circle">
                            <img v-else :src="defaultAvatar" width="32" height="32" class="rounded-circle">

                            <div class="media-body pl-4">
                                <div class="media-header">
                                    <strong>{{ reply.name }}</strong>
                                    <span class="text-muted ml-3">{{ reply.date | moment('DD/MM/YYYY HH:mm') }}</span>
                                </div>

                                <div v-html="reply.message"></div>

                                <div v-if="reply.attachments" class="mt-4">
                                    <strong>Anexos:</strong>
                                    {{ reply.attachments.split("|").join(", ") }}
                                </div>
                            </div>
                        </div>

                        <text-loading v-show="isLoadingReply" class="text-center mb-6" />

                        <div v-if="!ticket.closed" class="media">
                            <img v-if="user && user.photo" :src="user.photo" width="32" height="32" class="rounded-circle">
                            <img v-else :src="defaultAvatar" width="32" height="32" class="rounded-circle">

                            <div class="media-body pl-4">
                                <form enctype="multipart/form-data" @submit.prevent="replyTicket">
                                    <form-group label="Responder" label-for="replyMessage" sr-only :error="formErrors.message">
                                        <textarea
                                            ref="replyMessage"
                                            id="replyMessage"
                                            class="form-control h-ticket-message"
                                            rows="2"
                                            placeholder="Responder..."
                                            v-model="reply.message"
                                            @focus="onReplyMessageFocus"
                                            @blur="onReplyMessageBlur"
                                        ></textarea>
                                    </form-group>

                                    <form-group v-show="reply.files && reply.files.length">
                                        <label class="form-label mb-0">Anexos</label>
                                        <p class="form-text-sm">
                                            Extensões de arquivos permitidas: jpg, jpeg, gif, png, bmp, pdf, doc, docx, txt
                                        </p>

                                        <ul v-if="reply.files && reply.files.length" class="list-group mb-4">
                                            <li class="list-group-item py-2 px-4" v-for="(file, index) in reply.files" :key="file.id">
                                                <button type="button" class="close float-right" aria-label="Excluir" @click.prevent="removeFile(file)">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <span>{{ file.name }}</span> -
                                                <span>{{ file.size | formatBytes(1) }}</span>
                                                <span v-if="formErrors['attachments.' + index]"> - {{ formErrors['attachments.' + index][0] }}</span>
                                            </li>
                                        </ul>
                                    </form-group>

                                    <div class="form-buttons">
                                        <file-upload
                                            ref="replyAttachments"
                                            input-id="replyAttachments"
                                            class="btn btn-secondary btn-file"
                                            post-action=""
                                            :multiple="true"
                                            :drop="true"
                                            :drop-directory="false"
                                            extensions="jpg,jpeg,gif,png,bmp,pdf,doc,docx,txt"
                                            accept="image/jpeg,image/gif,image/png,image/gif,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,text/plain"
                                            :size="20971520"
                                            :maximum="10"
                                            v-model="reply.files"
                                        >
                                            <span v-if="reply.files && reply.files.length">Adicionar arquivos</span>
                                            <span v-else>Incluir anexos</span>
                                        </file-upload>
                                        <button-form ref="submitReplyTicket" type="submit" variant="success" class="ml-2" :disabled="isClosingTicket">Enviar</button-form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </card-title>

        <modal-confirm ref="modalCloseTicket" title="Fechar ticket" @confirm="closeTicket">
            <p>Tem certeza que deseja fechar este ticket de suporte?</p>
            <div class="alert alert-warning mb-0">
                Ao fechar um ticket ele não poderá mais ser respondido.
            </div>
        </modal-confirm>
    </admin-page-template>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import FileUpload        from 'vue-upload-component'
    import CardTitle     from '@/components/molecules/CardTitle'
    import AdminPageTemplate from '@/components/templates/AdminPageTemplate'
    import FormGroup         from '@/components/molecules/FormGroup'
    import ButtonForm        from '@/components/atoms/ButtonForm'
    import ModalConfirm      from '@/components/atoms/ModalConfirm'
    import ErrorService      from '@/services/error.service'
    import TicketService     from '@/services/ticket.service'
    import TextLoading from '@/components/atoms/TextLoading'

    export default {
        props: ['resource'],
        components: {
            TextLoading,
            FileUpload,
            ModalConfirm,
            ButtonForm,
            FormGroup,
            CardTitle,
            AdminPageTemplate,
        },
        data() {
            return {
                defaultAvatar: 'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32" height="32" %3E%3Crect width="32" height="32" x="0" y="0" style="fill:%23DDDDDD;" /%3E%3C/svg%3E',

                ticket: null,
                reply: {},
                formErrors: {},

                isLoadingReply: false,
                isClosingTicket: false
            }
        },
        computed: {
            ...mapState('user', ['user'])
        },
        beforeRouteEnter(to, from ,next)
        {
            TicketService.get(to.params.resource)
                .then ((ticket) => next(vm => vm.ticket = ticket))
                .catch(error => ErrorService.handlePageError(error, next))
        },
        methods: {
            ...mapActions({
                showErrorAlert: 'alert/error',
                showLoading: 'loading/show',
                hideLoading: 'loading/hide',
            }),

            onReplyMessageFocus(evt)
            {
                evt.target.classList.add('active')
            },

            onReplyMessageBlur(evt)
            {
                evt.target.classList.remove('active')
            },

            focusReply()
            {
                this.$refs.replyMessage.focus();
            },

            showCloseConfirm()
            {
                this.$refs.modalCloseTicket.show();
            },

            removeFile(file)
            {
                this.$refs.replyAttachments.remove(file);
            },

            fetchTicket()
            {
                return TicketService.get(this.resource)
                    .then ((ticket) => this.ticket = ticket);
            },

            replyTicket()
            {
                this.formErrors = {};
                this.$refs.submitReplyTicket.loadingFocus();

                let formData = new FormData(), key, i;

                for (key in this.reply) {
                    if (key !== 'files' && this.reply[key]) {
                        formData.append(key, this.reply[key]);
                    }
                }

                if (this.reply.files && this.reply.files.length) {
                    for (i = 0; i < this.reply.files.length; i++) {
                        formData.append('attachments[]', this.reply.files[i].file, this.reply.files[i].name);
                    }
                }

                const promise = this.$api({
                    method: 'post',
                    url: `/ticket/${this.resource}/reply`,
                    data: formData,
                    headers: { 'content-type': 'multipart/form-data' },
                });

                promise
                    .then (response => {
                        this.reply = {};
                        this.isLoadingReply = true;
                        this.fetchTicket().then(() => this.isLoadingReply = false);
                    })
                    .catch(error => ErrorService.handleFormError(error, this))
                    .then (() => this.$refs.submitReplyTicket.setLoading(false));
            },

            /**
             * Fechar ticket de suporte.
             */
            closeTicket()
            {
                this.showLoading();
                this.isClosingTicket = true;

                this.$api.post(`/ticket/${this.resource}/close`)
                    .then(() => {
                        this.ticket = null;
                        this.fetchTicket();
                    })
                    .catch(error => ErrorService.handleFormError(error, this))
                    .then (() => {
                        this.isClosingTicket = false;
                        this.hideLoading();
                    });
            }
        }
    }
</script>

<style lang="stylus">
    .h-p-support-ticket
        .h-ticket-info
            h5
                margin-bottom .25rem
                font-weight bold
                font-size 1rem

        .h-media-reply
            margin-bottom 1.5rem

            .media-header
                margin-bottom .25rem

            .media-body
                h1, h2, h3, h4
                    margin-bottom 1rem

                p
                    white-space pre-wrap

                p + p
                    margin-top -0.5rem

                code
                    padding 2px .375rem
                    border-radius $border-radius
                    background-color $gray-200

                pre
                    padding .625rem .875rem
                    border-radius $border-radius
                    background $gray-800
                    color $gray-100

                    code
                        padding 0
                        border-radius 0
                        background none

                blockquote
                    margin-bottom 1rem
                    padding 0 0 0 .75rem
                    border-left 3px solid $gray-500

                    p
                        white-space pre-line
                        
                img
                    display block
                    max-width 100%
                    height auto

                *:last-child
                    margin-bottom 0 !important

        .h-icon-avatar
            width 32px
            font-size 32px
            text-align center
            color $gray-500

        .h-ticket-message
            height calc(3 * 1.5rem + .75rem + 2px)
            transition height .4s ease
            transition-delay 0.5s

            &.active
                height calc(8 * 1.5rem + .75rem + 2px)
                transition-delay 0s
</style>