<template>
    <admin-page-template class="h-p-support-tickets">
        <card-table
            ref="cardTickets"
            title="Tickets de Suporte"
            add-text="Abrir novo ticket"
            :modal-title="isShowingFormData ? 'Abrir ticket de suporte' : 'Precisa de Ajuda?'"
            modal-submit-text="Enviar"
            hide-edit
            hide-remove
            :table-fields="tableTicketsFields"
            api-url="/ticket"
            :api-save-headers="{ 'content-type': 'multipart/form-data' }"
            :form-data-transform="ticketFormDataTransform"
            :post-data-transform="ticketPostDataTransform"
            table-max-height="calc((10 * (3rem + 1px)))"
            table-empty-text="Nenhum ticket encontrado"
            @hide-modal="closeModalEvent"
            @created="ticketCreated"
        >
            <template slot="table-id" slot-scope="{ rowData }">
                <router-link :to="`/support/ticket/${rowData.id}`">{{ rowData.id }}</router-link>
            </template>

            <template slot="table-subject" slot-scope="{ rowData }">
                <div class="text-truncate">
                    <router-link :to="`/support/ticket/${rowData.id}`" :title="rowData.subject">{{ rowData.subject }}</router-link>
                </div>
            </template>

            <template slot="table-domain" slot-scope="{ rowData }">
                <div class="text-truncate">
                    <router-link v-if="hostings.indexOf(rowData.domain) !== -1" :to="`/hosting/${rowData.domain}`" :title="rowData.domain">{{ rowData.domain }}</router-link>
                    <span v-else>{{ rowData.domain }}</span>
                </div>
            </template>

            <template slot="table-updated" slot-scope="{ rowData }">
                <span :title="$moment(rowData.updatedAt).format('DD/MM/YYYY HH:mm:ss')">
                    {{ rowData.updatedAt | moment("from", new Date()) }}
                </span>
            </template>

            <template slot="form-html" slot-scope="{ formData, formErrors }">
                <div v-if="isShowingFormData">
                    <form-group label="Assunto *" label-for="ticketSubject" :error="formErrors.subject">
                        <b-form-select id="ticketSubject" v-model="formData.subject" :options="subjects" value-field="id" text-field="title">
                            <template v-slot:first>
                                <b-form-select-option :value="null" disabled></b-form-select-option>
                            </template>
                            <b-form-select-option value="-1">Outro assunto</b-form-select-option>
                        </b-form-select>
                    </form-group>

                    <form-group label="Informe qual assunto deseja tratar *" label-for="ticketOtherSubject" v-show="formData.subject === '-1'" :error="formErrors.otherSubject">
                        <input type="text" id="ticketOtherSubject" class="form-control" v-model="formData.otherSubject">
                    </form-group>

                    <form-group label="Departamento *" label-for="ticketDepartment" :error="formErrors.department">
                        <b-form-select id="ticketDepartment" v-model="formData.department" :options="departments" value-field="id" text-field="name">
                            <template v-slot:first>
                                <b-form-select-option :value="null" disabled></b-form-select-option>
                            </template>
                        </b-form-select>
                    </form-group>

                    <form-group label="Serviço relacionado" label-for="ticketService" :error="formErrors.service">
                        <b-form-select id="ticketService" v-model="formData.service" :options="services" value-field="domain" text-field="domain">
                            <template v-slot:first>
                                <b-form-select-option value=""></b-form-select-option>
                            </template>
                        </b-form-select>
                    </form-group>

                    <form-group label="Mensagem *" label-for="ticketMessage" :error="formErrors.message">
                        <textarea id="ticketMessage" rows="6" class="form-control" v-model="formData.message"></textarea>
                    </form-group>

                    <form-group label="Anexos">
                        <p class="form-text-sm">Extensões permitidas: jpg, jpeg, gif, png, bmp, pdf, doc, docx, txt</p>

                        <ul v-if="formData.files && formData.files.length" class="list-group mb-4">
                            <li class="list-group-item py-2 px-4" v-for="(file, index) in formData.files" :key="file.id">
                                <button type="button" class="close float-right" aria-label="Excluir" @click.prevent="removeFile(file)">
                                    <i class="fas fa-times"></i>
                                </button>
                                <span>{{ file.name }}</span> -
                                <span>{{ file.size | formatBytes(1) }}</span>
                                <span v-if="formErrors['attachments.' + index]"> - {{ formErrors['attachments.' + index][0] }}</span>
                            </li>
                        </ul>

                        <file-upload
                            ref="ticketAttachments"
                            input-id="ticketAttachments"
                            class="btn btn-secondary btn-file"
                            post-action=""
                            :multiple="true"
                            :drop="true"
                            :drop-directory="false"
                            extensions="jpg,jpeg,gif,png,bmp,pdf,doc,docx,txt"
                            accept="image/jpeg,image/gif,image/png,image/gif,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,text/plain"
                            :size="20971520"
                            :maximum="10"
                            v-model="formData.files">Adicionar arquivos</file-upload>
                    </form-group>
                </div>
                <div v-else class="mb-5">
                    <pre-opening-tickets
                        @show-search-results="isShowingSearchResults=true"
                    />
                </div>
            </template>

            <template v-if="!isShowingFormData" slot="form-buttons" slot-scope="{ modalForm }">
                <div class="form-buttons d-flex justify-content-between pt-5">
                    <button v-if="isShowingSearchResults" type="button" class="btn btn-primary mr-2" @click="isShowingFormData=true">
                        Não achou o que procurava? Abra um ticket aqui
                    </button>
                    <button type="button" class="btn btn-secondary btn-action ml-auto" data-dismiss="modal" @click="modalForm.hide()">Cancelar</button>
                </div>
            </template>

            <template slot="dropdown-before" slot-scope="{ rowData }">
                <b-dropdown-item :href="`/support/ticket/${rowData.id}`">
                    <i class="fas fa-edit fa-fw"></i> Visualizar
                </b-dropdown-item>
            </template>
        </card-table>
    </admin-page-template>
</template>

<script>
    import { mapActions }    from 'vuex'
    import axios             from 'axios'
    import FileUpload        from 'vue-upload-component'
    import AjaxService       from '@/services/AjaxService'
    import FormGroup         from '@/components/molecules/FormGroup'
    import CardTable         from '@/components/organisms/CardTable'
    import PreOpeningTickets from '@/components/organisms/PreOpeningTickets'
    import AdminPageTemplate from '@/components/templates/AdminPageTemplate'

    export default {
        components: {
            FileUpload,
            FormGroup,
            CardTable,
            AdminPageTemplate,
            PreOpeningTickets
        },
        data() {
            return {
                tableTicketsFields: [
                    {
                        name: '__slot:id',
                        sortField: 'id',
                        sortFunction: 'number',
                        filterable: true,
                        title: 'ID',
                        titleClass: "col-w-24",
                        dataClass: "col-w-24",
                    },
                    {
                        name: '__slot:subject',
                        sortField: 'subject',
                        filterable: true,
                        title: 'Assunto',
                        titleClass: 'col-nowrap col-subject',
                        dataClass: 'max-w-px col-nowrap col-subject'
                    },
                    {
                        name: '__slot:domain',
                        sortField: 'domain',
                        filterable: true,
                        title: 'Domínio',
                        titleClass: "col-w-56",
                        dataClass: "col-w-56 col-nowrap",
                    },
                    {
                        name: 'statusText',
                        sortField: 'statusText',
                        title: 'Status',
                        titleClass: "col-w-40",
                        dataClass: "col-w-40 col-nowrap",
                    },
                    {
                        name: '__slot:updated',
                        sortField: 'updatedAt',
                        title: 'Atualizado em',
                        titleClass: "col-datetime",
                        dataClass: "col-datetime",
                    }
                ],

                subjects: [],
                departments: [],
                services: [],
                hostings: [],

                isLoadingFormData: false,
                isShowingFormData: false,
                isShowingSearchResults: false
            }
        },
        beforeRouteLeave(to, from, next)
        {
            this.$refs.cardTickets.cancelFetch();
            AjaxService.cancel();
            next();
        },
        mounted()
        {
            this.fetchFormData();

            if (this.$route.query && this.$route.query.add) {
                this.$refs.cardTickets.showAddModal();
            }
        },
        methods: {
            ...mapActions({
                showErrorAlert: 'alert/error'
            }),

            /**
             * Carregar dados necessários para o formulário.
             */
            fetchFormData()
            {
                this.isLoadingFormData = true;

                axios.all([
                        this.$api.get('/ticket/subject', { cancelToken: AjaxService.getCancelToken() }),
                        this.$api.get('/ticket/department', { cancelToken: AjaxService.getCancelToken() }),
                        this.$api.get('/hosting', { cancelToken: AjaxService.getCancelToken() })
                    ])
                    .then(axios.spread((resp1, resp2, resp3) => {
                        this.subjects    = resp1.data.data;
                        this.departments = resp2.data.data;
                        this.services    = resp3.data.data;

                        this.hostings = [];
                        this.services.forEach(item => this.hostings.push(item.domain));
                    }))
                    .catch(error => this.showErrorAlert(error))
                    .then (() => this.isLoadingFormData = false);
            },

            removeFile(file)
            {
                this.$refs.ticketAttachments.remove(file);
            },

            ticketFormDataTransform(data)
            {
                data.service = data.service || "";
                return data;
            },

            ticketPostDataTransform(data)
            {
                let formData = new FormData(), key, i;

                for (key in data) {
                    if (key !== 'files' && data[key]) {
                        formData.append(key, data[key]);
                    }
                }

                if (data.files && data.files.length) {
                    for (i = 0; i < data.files.length; i++) {
                        formData.append('attachments[]', data.files[i].file, data.files[i].name);
                    }
                }

                return formData;
            },

            /**
             * reseta formulário pré abertura de ticket ao fechar modal
             */
            closeModalEvent(){
                this.isShowingSearchResults = false;
                this.isShowingFormData = false;
                localStorage.removeItem('searchPreTicket');
            },
            /**
             * Atualiza o registro de pesquisas em pré abertura de ticket ao 
             * abrir um ticket.
             */
            ticketCreated(item, responseData){
                var searchPreTicket = JSON.parse( localStorage.getItem('searchPreTicket') );
                searchPreTicket.ticketId =  responseData.id;
                
                this.$api.post('/ticket/pre-opening', searchPreTicket);
            }
        }
    }
</script>

<style lang="stylus">
    .h-p-support-tickets
        .table
            .col-subject
                @media (max-width 575px)
                    width 10rem !important
                    min-width 10rem !important
</style>