<template>
    <div>
        <banner-promotion
            v-if="showTesterBanner"
            :expiration="promotion.expiration"
            link="/payment/manual-recharge"
            logo-img="/images/super-bonus.png"
            logo-img-alt="Super Bônus"
            event-category="campaign_tester"
            :event-label="eventLabel"
            v-bind:class="[bannerClass]"
            class="banner-tester"
        >
            <template slot="content">
                <p class="mb-3">
                    Ganhe até 7 meses* de hospedagem <strong>grátis</strong>!
                </p>
                <div class="text-center">
                    <router-link v-if="showTesterButton" to="/payment/manual-recharge" class="btn btn-warning">Ganhe agora</router-link>
                </div>
            </template>
        </banner-promotion>

        <banner-referral
            v-else-if="showReferralBanner"
            :expiration="promotion.expiration"
            :event-label="eventLabel"
            v-bind:class="[bannerClass]"
        />
    </div>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex'
    import BannerPromotion from '@/components/molecules/BannerPromotion'
    import BannerReferral  from '@/components/molecules/BannerReferral'

    export default {
        components: {
            BannerPromotion,
            BannerReferral
        },
        props: {
            bannerClass: {
                type: String,
                default: ""
            },
            showTester: {
                type: Boolean,
                default: true,
            },
            showTesterButton: {
                type: Boolean,
                default: true,
            },
            showReferral: {
                type: Boolean,
                default: true,
            },
            eventLabel: {
                type: String,
                default: "",
            },
        },
        computed: {
            ...mapState("user", [
                "user",
                "promotion"
            ]),
            ...mapGetters("user", [
                "isTesterPromotion",
                "isReferralPromotion"
            ]),

            showTesterBanner: function() {
                return (this.showTester && this.isTesterPromotion);
            },
            showReferralBanner: function() {
                return (this.showReferral && this.isReferralPromotion);
            }
        },
        created()
        {
            this.fetchPromotion();
        },
        methods: {
            ...mapActions({
                fetchPromotion: 'user/fetchPromotion',
            }),
        }
    }
</script>
