<template>
    <div class="pre-opening-tickets">
        <h6 class="mb-5">Busque soluções em nosso blog ou central de ajuda.</h6>

        <b-row class="justify-content-between">

            <b-col sm='4' class=" mb-3">
                <b-card>
                    <a href="https://hostoo.io/blog" target="_blank" title="Ajuda">
                        <b-card-text>
                            <div class="icon rounded-circle d-flex justify-content-center align-items-center">
                                <svg width="48%" height="auto" viewBox="0 0 33 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M31.345 13.4581H23.1008V1.67931C23.1008 0.748988 22.3583 0 21.4535 0H1.65503C0.734708 0 0 0.748988 0 1.67931V28.5877C0 33.2314 3.69674 37 8.25193 37H26.4031C30.0457 37 33 33.9883 33 30.2749V15.1374C33 14.2071 32.2576 13.4581 31.345 13.4581ZM18.4837 26.3092C18.4837 26.6403 18.2208 26.9163 17.8882 26.9163H4.94961C4.62479 26.9163 4.35411 26.6482 4.35411 26.3092V24.1568C4.35411 23.8257 4.61706 23.5498 4.94961 23.5498H17.8882C18.213 23.5498 18.4837 23.8178 18.4837 24.1568V26.3092ZM18.4837 19.5762C18.4837 19.9073 18.2208 20.1833 17.8882 20.1833H4.94961C4.62479 20.1833 4.35411 19.9152 4.35411 19.5762V17.4238C4.35411 17.0927 4.61706 16.8167 4.94961 16.8167H17.8882C18.213 16.8167 18.4837 17.0848 18.4837 17.4238V19.5762ZM18.4837 12.8589C18.4837 13.1901 18.2208 13.4502 17.9037 13.4502H4.93415C4.61706 13.4502 4.35411 13.1822 4.35411 12.8589V7.76582C4.35411 7.44257 4.61706 7.17452 4.93415 7.17452H17.8959C18.2208 7.17452 18.476 7.44257 18.476 7.76582V12.8589H18.4837ZM29.6977 30.2749C29.6977 32.1513 28.1896 33.6729 26.3412 33.6414C24.5315 33.6098 23.1008 32.0646 23.1008 30.2197V16.8167H28.8779C29.3342 16.8167 29.7054 17.1952 29.7054 17.6603V30.2749H29.6977Z"/>
                                </svg>
                            </div>

                            <div class="title mt-5">Blog</div>
                        </b-card-text>
                    </a>
                </b-card>
            </b-col>
            <b-col sm='4' class="mb-3">
                <b-card>
                    <a href="https://help.hostoo.io" target="_blank" title="Ajuda">
                        <b-card-text>
                            <div class="icon rounded-circle d-flex justify-content-center align-items-center">
                                <svg width="48%" height="auto" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M33.3555 7.57357C32.8009 6.86354 32.167 6.15351 31.5332 5.44349C30.8994 4.81236 30.1863 4.18124 29.394 3.629C26.3041 1.34116 22.5011 0 18.4604 0C14.4197 0 10.5375 1.34116 7.52677 3.629C6.8137 4.18124 6.10064 4.81236 5.38758 5.44349C4.67452 6.07462 4.11991 6.78465 3.56531 7.57357C1.26767 10.6503 0 14.4371 0 18.5394C0 22.6418 1.3469 26.4286 3.56531 29.4264C4.11991 30.2154 4.75375 30.8465 5.38758 31.5565C6.02141 32.1876 6.73448 32.8188 7.52677 33.371C10.6167 35.6589 14.4197 37 18.4604 37C22.5803 37 26.3833 35.6588 29.4732 33.4499C30.1863 32.8977 30.8201 32.4243 31.454 31.7932L31.7709 31.4776C32.4047 30.8465 32.8801 30.2153 33.4347 29.5053C35.6531 26.4286 37 22.6418 37 18.5394C37 14.4371 35.6531 10.6503 33.3555 7.57357ZM9.50749 5.60128L13.5482 9.62473C13.7859 9.86141 13.7859 10.3348 13.469 10.4925C12.2805 11.2026 11.2505 12.2281 10.5375 13.4115C10.379 13.7271 9.90364 13.7271 9.66595 13.4904L5.54604 9.54585C5.30835 9.30917 5.30835 8.99361 5.46681 8.75694C6.41756 7.57357 7.44754 6.46908 8.7152 5.52239C8.95289 5.36461 9.26981 5.4435 9.50749 5.60128ZM8.7152 31.3987C7.52677 30.452 6.41756 29.4264 5.46681 28.1642C5.30835 27.9275 5.30835 27.6119 5.54604 27.3753L9.58672 23.3518C9.82441 23.1151 10.2998 23.1151 10.4582 23.4307C11.1713 24.6141 12.2013 25.6397 13.3897 26.3497C13.7066 26.5075 13.7066 26.9808 13.469 27.2175L9.42827 31.2409C9.26981 31.5565 8.95289 31.6354 8.7152 31.3987ZM18.4604 25.7974C17.4304 25.7974 16.4797 25.5608 15.6081 25.2452C13.8651 24.5352 12.439 23.1151 11.7259 21.3006C11.3298 20.4328 11.1713 19.4861 11.1713 18.4606C11.1713 17.435 11.409 16.4883 11.7259 15.6205C12.439 13.8849 13.8651 12.4648 15.6081 11.6759C16.4797 11.2815 17.4304 11.1237 18.4604 11.1237C19.4904 11.1237 20.4411 11.3603 21.3126 11.6759C23.0557 12.3859 24.4818 13.806 25.2741 15.5416C25.6702 16.4094 25.8287 17.3561 25.8287 18.3817C25.8287 19.4073 25.591 20.3539 25.2741 21.2217C24.561 22.9574 23.1349 24.3774 21.3126 25.0874C20.4411 25.5608 19.4904 25.7974 18.4604 25.7974ZM27.4925 31.3987L23.4518 27.3753C23.2141 27.1386 23.2141 26.6653 23.531 26.5075C24.7195 25.7974 25.7495 24.7719 26.4625 23.5885C26.621 23.2729 27.0964 23.2729 27.334 23.5096L31.3747 27.533C31.6124 27.7697 31.6124 28.0853 31.454 28.322C30.5824 29.5053 29.4732 30.6098 28.2056 31.5565C28.0471 31.6354 27.7302 31.5565 27.4925 31.3987ZM26.5418 13.4115C25.8287 12.2281 24.7987 11.2026 23.6103 10.4925C23.2934 10.3348 23.2934 9.86141 23.531 9.62473L27.5717 5.60128C27.8094 5.36461 28.1263 5.36461 28.364 5.52239C29.5525 6.46908 30.6617 7.49468 31.6124 8.75694C31.7709 8.99361 31.7709 9.30917 31.5332 9.54585L27.4925 13.5693C27.1756 13.806 26.7002 13.7271 26.5418 13.4115Z"/>
                                </svg>

                            </div>

                            <div class="title mt-5">Central de Ajuda</div>
                        </b-card-text>
                    </a>
                </b-card>
            </b-col>

            <b-col sm='4' class="">
                <b-card @click="isViewSectionSearch=!isViewSectionSearch" :class="isViewSectionSearch ? 'selected' : ''">
                    <b-card-text>
                        <div class="icon rounded-circle d-flex justify-content-center align-items-center">
                            <svg width="48%" height="auto" viewBox="0 0 33 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.965 23.3984C25.4966 25.4895 23.1181 26.8515 20.4382 26.8515H16.6779C15.379 26.8515 14.2728 25.9964 13.8539 24.7995C13.3369 24.6396 12.8299 24.432 12.3351 24.1771C11.2873 23.6373 10.3359 22.906 9.49839 22C4.06588 23.2375 0 28.2568 0 34.2615V35.0464C0 36.1253 0.843553 37 1.88408 37H31.1159C32.1564 37 32.9999 36.1253 32.9999 35.0464V34.2615C32.9999 29.6228 30.5733 25.5721 26.965 23.3984Z"/>
                                <path d="M7.2128 18.3075C8.04802 18.3075 8.77501 17.8688 9.15164 17.2214C9.16154 17.247 9.17161 17.2724 9.18176 17.2979C9.18475 17.3056 9.18775 17.3132 9.19074 17.3209C10.0743 19.5251 11.7935 21.3729 14.0605 22.1802C14.6087 21.3546 15.5782 20.8055 16.6837 20.8055H20.5622C20.949 20.8055 21.3091 20.702 21.6248 20.5348C22.1549 20.2538 22.6316 19.5411 22.8778 19.1633C23.2718 18.5588 23.577 17.9184 23.8477 17.2203C23.9997 17.482 24.2089 17.7098 24.4595 17.8882V18.7895C24.4595 20.8263 22.7112 22.4833 20.5621 22.4833H16.6836C15.9504 22.4833 15.3559 23.0467 15.3559 23.7416C15.3559 24.4366 15.9504 25 16.6836 25H20.5621C24.1753 25 27.1148 22.214 27.1148 18.7895V17.8882C27.6523 17.5055 28 16.8965 28 16.2104V12.4162V10.9612C28 10.261 27.6376 9.64146 27.0813 9.26053C26.6498 4.08576 22.069 0 16.5 0C10.9309 0 6.35013 4.08576 5.91867 9.26045C5.36233 9.64138 5 10.261 5 10.9611V16.2102C5 17.3718 5.99562 18.3075 7.2128 18.3075ZM16.5 2.5167C20.6226 2.5167 24.0229 5.50264 24.4204 9.31249C24.1595 9.50702 23.9457 9.75564 23.7985 10.0409C22.5457 6.94317 19.7491 4.78643 16.4999 4.78643C13.1806 4.78643 10.4289 7.01729 9.20622 10.0285C9.20455 10.0326 9.20297 10.0368 9.20131 10.041C9.05405 9.75572 8.84031 9.5071 8.57941 9.31257C8.97709 5.50264 12.3774 2.5167 16.5 2.5167Z"/>
                            </svg>
                        </div>

                        <div class="title mt-5">Abrir um Ticket</div>
                    </b-card-text>
                </b-card>
            </b-col>
        </b-row>

        <div class="search mt-5 pt-3" v-if="isViewSectionSearch">

            <input-search placeholder="Assunto do problema" :isSpellcheck="true" v-model="search" @input="inputSearchEvent"/>

            <div class="result mt-5 mb-5" v-if="searchResult.length > 0 || resultNotFound">
                <p class="mb-1">Artigos sugeridos</p>
                <hr class="mt-0">

                <p v-if="resultNotFound" class="not-found-result">
                    Desculpe, ainda não temos um tutorial para o seu problema.
                </p>

                <ul v-else>
                    <li v-for="(article, index) in searchResult" class="mb-3">
                        <a :href="article.url" target="_blank" @click="articleClicked(index)">{{ article.title }}</a>
                    </li>
                </ul>
            </div>

            <div v-if="isSpinner" class="d-flex justify-content-center mt-5 pt-4">
                <div class="spinner-border text-primary" style="width: 2rem; height: 2rem;" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import axios       from "axios"
    import InputSearch from "@/components/atoms/InputSearch"

    export default {
        components: {
            InputSearch
        },

        data() {
            return {
                isViewSectionSearch: false,
                searchResult: [],
                search: '',
                isSpinner: false,
                resultNotFound: false,
                searchPreTicket: null
            }
        },

        methods: {

            inputSearchEvent()
            {
                this.isSpinner = true;
                this.searchResult = [];
                this.resultNotFound = false;

                const aux = this.search;

                setTimeout(() => {
                    if (this.search.length > 3) {
                        if (aux == this.search) {
                            this.searchArticle()
                        }
                    }
                    else if (this.search == '') {
                        this.isSpinner = false;
                    }
                }, 2000);
            },

            searchArticle()
            {
                const url = 'https://help-admin.hostoo.io/wp-json/wp/v2/search?search=' + this.search;

                axios.get(url).then((response) => {
                    const articles = response.data;

                    for (const article of articles) {
                        this.searchResult.push({
                            title: article.title.replace('&#8220;', '"').replace('&#8221;', '"'),
                            url: 'https://help.hostoo.io/article/' + (article.url.split('/article/'))[1]
                        });
                    }

                    if (!articles.length) {
                        this.resultNotFound = true;
                    }

                    this.searchPreTicket = {
                        search: this.search,
                        searchResult: this.searchResult.length ? this.searchResult : null
                    };

                    localStorage.setItem('searchPreTicket', JSON.stringify(this.searchPreTicket));

                    this.isSpinner = false;
                    this.$emit('show-search-results');
                });
            },

            async articleClicked(index)
            {
                if (!this.searchPreTicket.clickedArticles) {
                    this.searchPreTicket.clickedArticles = [this.searchResult[index]]
                }
                else {
                    this.searchPreTicket.clickedArticles.push(this.searchResult[index]);
                }

                const response = await this.$api.post('/ticket/pre-opening', this.searchPreTicket)

                if (response && response.status == 200) {
                    this.searchPreTicket.id = response.data.data.search_pre_ticket_id;
                }

                localStorage.setItem('searchPreTicket', JSON.stringify(this.searchPreTicket));
            }
        }
    }
</script>

<style lang="scss">
    .pre-opening-tickets {
        h6 {
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0.015em;

            color: #000000;
        }

        .result {
            ul {
                padding-left: 0;
            }

            li {
                list-style: none;
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                letter-spacing: 0.01em;
            }

            .not-found-result {
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                line-height: 22px;
                letter-spacing: 0.01em;
                color: #ADADAD;
            }
        }

        a {
            text-decoration: none;
        }

        .selected {
            background: #6149A7 !important;

            .icon {
                background: #45307E !important;

                svg {
                    fill: #FFFFFF !important;
                }
            }

            .title {
                color: white !important;
            }
        }

        .card {
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            height: 148px;
            cursor: pointer;
            border: none;

            &:hover {
                background: #6149A7;

                .icon {
                    background: #45307E;

                    svg {
                        fill: #FFFFFF !important;
                    }
                }

                .title {
                    color: white !important;
                }
            }

            .icon {
                width: 73px;
                height: 73px;
                background: #F5F5F5;

                svg {
                    fill: #6149A7;
                }
            }

            .title {
                font-style: normal;
                font-weight: 700;
                font-size: 0.938rem;
                line-height: 20px;
                color: #45307E;
            }

            @media (max-width: 991px) {
                height: 158px;
            }

            @media (max-width: 576px) {
                height: 148px;
            }
        }
    }
</style>
