<template>
    <!-- TODO: Remover componente se não estiver mais sendo usado -->
    <vuetable
        ref="tableHostings"
        class="hto-table-hostings"
        table-class="table-custom-header loading"
        :api-mode="false"
        :fields="tableHostings.fields"
        :loading="isLoadingHostings"
        table-height="calc(4 * 4rem + 4px)"
        empty-text="Nenhuma hospedagem encontrada"
    >
        <template slot="status" slot-scope="props">
            <icon-hosting-status :status="props.rowData.status" :title="props.rowData.statusText" />
        </template>

        <template slot="domain" slot-scope="props">
            <div class="domain-name">
                <router-link :to="'/hosting/' + props.rowData.domain">{{ props.rowData.domain }}</router-link>
            </div>
            <div class="domain-info">
                <span class="domain-info-package">{{ props.rowData.package.name }}</span>
                <span class="text-muted"> - {{ _formatPackageInfo(props.rowData.package) }}</span>
            </div>
        </template>

        <template slot="options" slot-scope="props">
            <b-dropdown variant="link" right no-caret>
                <template v-slot:button-content>
                    <i class="fas fa-caret-down"/>
                </template>
                <b-dropdown-item href="#" v-if="props.rowData.status === 'active'">Gráficos</b-dropdown-item>
                <b-dropdown-item href="#" v-if="props.rowData.status === 'active'">Pausar</b-dropdown-item>
                <b-dropdown-item href="#" v-if="props.rowData.status === 'paused'">Reativar</b-dropdown-item>
                <b-dropdown-divider v-if="['active','paused'].indexOf(props.rowData.status) >= 0"/>
                <b-dropdown-item variant="danger" href="#">Excluir</b-dropdown-item>
            </b-dropdown>
        </template>
    </vuetable>
</template>

<script>
    import Vuetable          from '../atoms/Vuetable'
    import IconHostingStatus from '../atoms/IconHostingStatus'

    export default {
        components: {
            Vuetable,
            IconHostingStatus
        },
        props: {
            data: Array,
            filter: String,
        },
        data() {
            return {
                tableHostings: {
                    fields: [
                        {
                            name: '__slot:status',
                            title: '',
                            titleClass: 'col-status col-w-12',
                            dataClass: 'col-status col-w-12',
                        },
                        {
                            name: '__slot:domain',
                            title: 'Domínio',
                            dataClass: 'col-domain',
                        },
                        {
                            name: '__slot:options',
                            title: '',
                            titleClass: 'col-dropdown',
                            dataClass: 'col-dropdown col-w-16',
                        },
                    ]
                },
                plans: {},
                hostings: {},
                isLoadingHostings: false,
                filterText: "",

            }
        },
        mounted()
        {
            this.isLoadingHostings = true;

            this.getHostingPlans()
                .then(() => this.getHostings())
                .then(() => this.isLoadingHostings = false);
        },
        methods:
        {
            _formatPackageInfo(data)
            {
                let formatted = "";
                let textRam   = this._formatBytes(data.ram);
                let textDisk  = this._formatBytes(data.disk);

                formatted += data.cpu + " GHz";
                formatted += " / " + textRam;
                formatted += " / " + textDisk + " Disco";

                return formatted;
            },

            _formatBytes(val)
            {
                if (val >= 1024 * 1024) {
                    return (val / (1024 * 1024)).toFixed(1).replace(".", ",").replace(",0", "") + " TB";
                }
                else if (val >= 1024) {
                    return (val / 1024).toFixed(1).replace(".", ",").replace(",0", "") + " GB";
                }
                else {
                    return val + " MB";
                }
            },

            getHostingPlans()
            {
                return this.$api.get('/hosting/plans').then(response => this.plans = response.data.data);
            },

            getHostings()
            {
                return this.$api.get("/hosting?plan=1")
                    .then(response => {
                        this.hostings = response.data.data;

                        for (let i = 0; i < this.hostings.length; i++) {
                            this.hostings[i].status = this.hostings[i].status.toLowerCase();
                            this.hostings[i].package = this.plans.find(el => el.name === this.hostings[i].plan);
                        }

                        this.$refs.tableHostings.setData(this.hostings);
                    });
            },

            filterHostings()
            {
                const filterTerm = this.filter.toLowerCase().trim();
                let filtered = [];

                if (!filterTerm) {
                    filtered = this.hostings;
                }
                else {
                    filtered = this.hostings.filter((item) => {
                        return (item.domain.toLowerCase().indexOf(filterTerm) !== -1);
                    });
                }

                this.$refs.tableHostings.setData(filtered);
            }
        },
        watch:
        {
            filter: function (val) {
                this.filterHostings();
            }
        }
    }
</script>

<style lang="stylus">
    .hto-table-hostings
        .col-status
            padding-right 0
            vertical-align middle
            text-align center

        .col-dropdown
            vertical-align middle
            text-align center

            .btn
                line-height 1

        .col-domain
            line-height 1.375

            .domain-name
                font-size 1.125rem

            .domain-info
                font-size 0.75rem

            .domain-info-package
                font-weight 700
                color $gray-600
</style>