<template>
    <div class="h-layout h-layout-full-height h-p-error-404">
        <div class="container-md">
            <div class="py-12">
                <img src="/images/bg-error-404.png" class="img-fluid mx-auto mb-8" alt="Página não encontrada">

                <div class="h-page-content">
                    <h1 class="mb-4">Eita…</h1>
                    <p>Parece que a página que você está buscando não está funcionando ou não foi encontrada porque não existe.</p>
                    <p>Verifique se o endereço que está digitando contém erros ou se algo deve ser ajustado para que a página volte a funcionar.</p>

                    <a href="/" class="btn btn-link mt-8">Voltar para o painel</a>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="stylus">
    .h-p-error-404
        background-color #f8f8f8

        .container-md
            @media (min-width 768px)
                max-width 720px !important

        .h-page-content
            max-width 500px
            margin 0 auto
            font-family "Nunito", sans-serif
            font-size 1.25rem
            text-align center

            h1
                font-size 3em
                font-weight 700
                color $gray-800

            .btn-link
                font-size 1.125em
</style>