<template>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 col-lg-7 col-xl-6">
                <card-auth>
                    <div class="my-4"></div>

                    <div v-show="errorMessage" class="alert alert-danger mb-6" v-html="errorMessage"></div>

                    <form @submit.prevent="$_recaptcha_verify(login)">
                        <form-group label="E-mail" labelFor="loginEmail" :error="formErrors.email">
                            <input type="email" id="loginEmail" class="form-control" spellcheck="false" tabindex="1" autocomplete="email" autofocus v-model="formData.email">
                        </form-group>

                        <form-group label="Senha" labelFor="loginPassword" :error="formErrors.password">
                            <input type="password" id="loginPassword" class="form-control" tabindex="2" autocomplete="current-password" v-model="formData.password">
                        </form-group>

                        <div class="d-sm-flex justify-content-sm-between mb-4">
                            <!--<div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="loginRemember" tabindex="3">
                                <label class="custom-control-label" for="loginRemember">Manter conectado</label>
                            </div>-->
                            <p class="mb-0 mt-4 mt-sm-0 ml-auto">
                                <router-link to="/auth/reset-password" tabindex="5">Esqueceu sua senha?</router-link>
                            </p>
                        </div>

                        <div class="text-center mt-6">
                            <button-form ref="btnLogin" type="submit" theme="success" class="btn-lg btn-block" tabindex="4">Entrar</button-form>
                        </div>
                    </form>

                    <div class="text-center mt-6">
                        Ainda não possui uma conta?<br>
                        <router-link to="/auth/register" class="text-lg font-weight-semibold" tabindex="6">Cadastre-se agora!</router-link>
                    </div>

                    <div class="text-center mt-6">
                        <p class="mb-2">Ou acesse usando suas redes sociais:</p>
                        <nav-social />
                    </div>

                    <vue-recaptcha
                        v-if="recaptchaKey"
                        ref="recaptcha"
                        size="invisible"
                        :sitekey="recaptchaKey"
                        :loadRecaptchaScript="true"
                        @verify="$_recaptcha_onVerified"
                        @expired="$_recaptcha_onExpired" />
                </card-auth>
            </div>

            <div class="col d-none d-lg-flex">
                <LoginBlogPost class="ml-6"/>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'
    import VueRecaptcha   from 'vue-recaptcha'
    import recaptcha      from '@/mixins/recaptcha'
    import util           from '@/mixins/util'
    import ErrorService   from '@/services/error.service'
    import ButtonForm     from '@/components/atoms/ButtonForm'
    import NavSocial      from '@/components/molecules/NavSocial'
    import LoginBlogPost  from '@/components/molecules/LoginBlogPost'
    import FormGroup      from '@/components/molecules/FormGroup'
    import CardAuth       from '@/components/organisms/CardAuth'

    export default {
        mixins: [
            recaptcha,
            util
        ],
        components: {
            VueRecaptcha,
            ButtonForm,
            FormGroup,
            CardAuth,
            NavSocial,
            LoginBlogPost
        },
        data() {
            return {
                formData: {},
                formErrors: {},
                errorMessage: "",
                recaptchaKey: ""
            }
        },
        created()
        {
            this.recaptchaKey = process.env.VUE_APP_RECAPTCHA_SITE_KEY;

            if (this.$route.query.email) {
                this.$set(this.formData, 'email', this.$route.query.email);
            }

            if (this.$route.query.oauth_email_unavailable) {
                this.errorMessage = 'O e-mail vinculado a esta rede social já está sendo usado em uma conta. Faça login com o e-mail e associe a rede social à sua conta nas configurações do perfil.';
            }

            if (this.$route.query.oauth_access_denied) {
                this.errorMessage = 'Não foi possível fazer login com a rede social informada.';
            }

            // Domínio para registro
            if (this.$route.query.domain && /^([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9][a-zA-Z0-9\-]+\.[a-zA-Z]{2,13}?$/.test(String(this.$route.query.domain))) {
                this.$cookie.set('hos_domain', this.$route.query.domain, { expires: '15m' });
            }
        },
        methods: {
            ...mapActions({
                loginUser: 'user/login',
                showErrorAlert: 'alert/error'
            }),

            /**
             * Fazer login do usuário.
             */
            login()
            {
                this.$refs.btnLogin.loadingFocus();
                this.formErrors = {};
                this.errorMessage = '';

                const { email, password } = this.formData;

                this.loginUser({ email, password, captcha: this.$_recaptcha_token })
                    .then (response => {
                        // Verificação de telefone
                        if (response.data.data.phone_verification) {
                            this.$router.push({ path: '/auth/verification/phone', query: { token: response.data.data.token } });
                            return;
                        }

                        // Verificação 2FA
                        // TODO: [Matheus] Verificar se esta informação pode ficar salva na memória em caso de erros.
                        if (response.data.data.tow_fa_verification)
                        {
                            localStorage.setItem('user_authetication', JSON.stringify({
                                "email"          : email,
                                "password"       : password,
                                "recaptcha_token": this.$_recaptcha_token
                            }));
                            
                            const param = this.$route.query.redirect ? `?redirect=${this.$route.query.redirect}` : "";

                            this.$router.push({ path: `/auth/verification/2fa${param}` });

                            return;
                        }

                        let redirectUrl = "/";

                        if (this.$route.query.redirect) {
                            redirectUrl = this.killXSS(this.$route.query.redirect);
                        }

                        window.location.href = redirectUrl;
                    })
                    .catch(error => {
                        const status = error.response.status || 0;

                        if (status === 422) {
                            ErrorService.handleFormError(error, this);
                        }
                        else if (status >= 400 && typeof error.response.data.message !== 'undefined') {
                            this.errorMessage = error.response.data.message;
                        }
                        else {
                            this.showErrorAlert(error);
                        }

                        this.$refs.btnLogin.setLoading(false);
                        this.$refs.recaptcha.reset();
                    })
            }
        }
    }
</script>